<form [formGroup]="form" class="form-perfil-profesional">

  <!-- <br>
  <h4 class="font-weight-bold text-primary">Especialidad Principal</h4>

  <div class="row">

    <div class="col-6">

      <mat-form-field class="example-full-width has-label">
        <mat-label></mat-label>
        <mat-select placeholder="Selecciona una especialidad" formControlName="especialidadPrincipal">
          <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.descripcion">
            {{especialidad.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-6">
      <button mat-raised-button color="primary" (click)="updateEspecialidadPrincipal()">Guardar</button>
    </div>

  </div>

  <br>
  <br> -->
  <h4 class="font-weight-bold text-primary">Idiomas</h4>

  <!-- IDIOMAS -->
  <div class="row" *ngIf="profesional">
    <div class="col-12">
      <app-idiomas [profesional]="profesional"></app-idiomas>
    </div>
  </div>
  <!-- /IDIOMAS -->

  <br>
  <br>
  <h4 class="font-weight-bold text-primary">Profesiones</h4>


  <div class="row">


    <!-- PROFESION -->
    <div class="col-6">
      <mat-form-field>
        <mat-select id="profesion" formControlName="profesion" placeholder="Selecciona una profesión"
          [disabled]="profesionesNoRegistradas && profesionesNoRegistradas.length === 0">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let profesion of profesionesNoRegistradas" [value]="profesion.id">
            {{ profesion.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- /PROFESION -->

    <!-- BTN AGREGAR PERFIL-->
    <div class="col-6">
      <button mat-raised-button color="primary" (click)="addPerfilProfesional()" [disabled]="!form.valid || profesionesNoRegistradas.length === 0">Agregar</button>
    </div>
    <!-- /BTN AGREGAR PERFIL-->
  </div>

  <mat-accordion *ngIf="profesional && profesional.perfiles" formArrayName="perfiles">
    <mat-expansion-panel *ngFor="let itemRowPerfil of form.controls.perfiles.controls; let i=index"
      [expanded]="currentAccordion === i" (opened)="accordionState = true; setCurrentAccordion(i)"
      (closed)="accordionState = false" class="mat-elevation-z0 accordion-no-border" [formGroupName]="i">

      <mat-expansion-panel-header>
        <mat-panel-title class="text-secondary font-weight-bold2"
          [ngClass]="accordionState && currentAccordion === i ? 'border-botton' : null">
          {{getProfesionNameById(itemRowPerfil.value.profesionId) | uppercase}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- DESCRIPCION PERFIL -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize matAutosizeMinRows="3" maxlength="1000"
              placeholder="Perfil profesional" formControlName="descripcion"></textarea>
            <mat-hint *ngIf="itemRowPerfil.value.descripcion" align="end">{{itemRowPerfil.value.descripcion.length}} /
              1000</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <!-- /DESCRIPCION PERFIL -->

      <br>

      <!-- BUTTONS -->
      <div class="row">
        <div class="col-12 text-right buttons-row">
          <button mat-raised-button color="warn" (click)="deletePerfilProfesional(i)">Eliminar</button>
          <button mat-raised-button color="primary" (click)="updatePerfilProfesional(i)"
            [disabled]="!formChange">Guardar</button>
        </div>
      </div>
      <!-- /BUTTONS -->

      <br>

      <mat-tab-group (focusChange)="tabChanged($event)">
        <!-- TAB DATOS ESTUDIOS -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">school</i>&nbsp;&nbsp;Estudios
          </ng-template>
          <app-estudios [tipoEstudioId]="1" [perfilId]="profesional.perfiles[i]._id"
            (eventTotalRegistros)="getEstudiosTotalRegistrosEvent($event)"></app-estudios>
        </mat-tab>
        <!-- /TAB ESTUDIOS -->

        <!-- TAB ESTUDIOS COMPLEMENTARIOS -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">school</i>&nbsp;&nbsp;Estudios complementarios
          </ng-template>
          <app-estudios [tipoEstudioId]="2" [perfilId]="profesional.perfiles[i]._id"
            (eventTotalRegistros)="getEstudiosComplementariosTotalRegistrosEvent($event)"></app-estudios>
        </mat-tab>
        <!-- /TAB ESTUDIOS COMPLEMENTARIOS -->

        <!-- TAB EXPERIENCIA -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">work</i>&nbsp;&nbsp;Experiencia
          </ng-template>
          <app-experiencias [perfilId]="profesional.perfiles[i]._id"
            (eventTotalRegistros)="getExperienciasTotalRegistrosEvent($event)"></app-experiencias>
        </mat-tab>
        <!-- /TAB EXPERIENCIA -->

        <!-- TAB ESPECIALIDADES -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">star</i>&nbsp;&nbsp;Especialidades
          </ng-template>
          <br>
          <app-especialidades [profesionalId]="profesional._id" [perfil]="profesional.perfiles[i]"></app-especialidades>
        </mat-tab>
        <!-- /TAB ESPECIALIDADES -->

      </mat-tab-group>

      <br>



    </mat-expansion-panel>

  </mat-accordion>

</form>
