.card-profile{
  @extend %common-card-testimonial;
}

.card-profile{
  .card-header:not([class*="card-header-"]){
    background: transparent;
    box-shadow: none;
  }
  .card-avatar {
    max-width: 130px !important;
    max-height: 130px !important;
  }
}
