<form *ngIf="form" [formGroup]="form">
  <div class="row">
    <div class="col-md-12 mr-auto">
      <form [formGroup]="form" class="form-datos-persona">
        <br>
        <h4 class="font-weight-bold text-primary">Información Básica</h4>

        <div *ngIf="!registroBasico" class="row">
          <!-- TIPO DOCUMENTO -->
          <div class="col-sm-12 col-md-6">
            <mat-form-field class="example-full-width has-label">
              <mat-select id="tipoDocumentoId" formControlName="tipoDocumentoId" placeholder="{{ isRequired(form.controls.tipoDocumentoId) ? '' : '' }} Tipo de documento">
                <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.id">
                  ({{ tipoDocumento.abreviatura }}) {{ tipoDocumento.descripcion }}
                </mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.tipoDocumentoId)" [errorMsg]="getFieldError(form.controls.tipoDocumentoId)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /TIPO DOCUMENTO -->

          <!-- DOCUMENTO -->
          <div class="col-sm-12 col-md-6">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="numeroDocumento" formControlName="numeroDocumento" placeholder="{{ isRequired(form.controls.numeroDocumento) ? '* ' : '' }} No. de documento">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.numeroDocumento)" [errorMsg]="getFieldError(form.controls.numeroDocumento)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /DOCUMENTO -->

        </div>

        <div class="row">

          <!-- NOMBRES -->
          <div class="col-sm-12 col-md-6">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="nombres" formControlName="nombres" placeholder="{{ isRequired(form.controls.nombres) ? '* ' : '' }} Nombres">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.nombres)" [errorMsg]="getFieldError(form.controls.nombres, 'soloLetras')"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /NOMBRES -->

          <!-- APELLIDOS -->
          <div class="col-sm-12 col-md-6">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="apellidos" formControlName="apellidos" placeholder="{{ isRequired(form.controls.apellidos) ? '* ' : '' }} Apellidos">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.apellidos)" [errorMsg]="getFieldError(form.controls.apellidos, 'soloLetras')"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /APELLIDOS -->

        </div>

        <div class="row">

          <!-- SEXO -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="sexo" formControlName="sexo" placeholder="{{ isRequired(form.controls.sexo) ? '* ' : '' }} Sexo">
                <mat-option value=""></mat-option>
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="NaN">Sin especificar</mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.sexo)" [errorMsg]="getFieldError(form.controls.sexo)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /SEXO -->

          <!-- FECHA NACIMIENTO -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <input matInput readonly id="fechaNacimiento" formControlName="fechaNacimiento" [matDatepicker]="picker"
                placeholder="{{ isRequired(form.controls.fechaNacimiento) ? '* ' : '' }} Fecha de nacimiento" [max]="edadMinimaRegistro"
                (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.fechaNacimiento)" [errorMsg]="getFieldError(form.controls.fechaNacimiento)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /FECHA NACIMIENTO -->

          <!-- ESTADO CIVIL -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="estadoCivil" formControlName="estadoCivil" placeholder="{{ isRequired(form.controls.estadoCivil) ? '* ' : '' }} Estado civil">
                <mat-option value=""></mat-option>
                <mat-option value="Soltero/a">Soltero/a</mat-option>
                <mat-option value="Unión libre">Unión libre</mat-option>
                <mat-option value="Comprometido/a">Comprometido/a</mat-option>
                <mat-option value="Casado/a">Casado/a</mat-option>
                <mat-option value="Divorciado/a">Divorciado/a</mat-option>
                <mat-option value="Viudo/a">Viudo/a</mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.estadoCivil)" [errorMsg]="getFieldError(form.controls.estadoCivil)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /ESTADO CIVIL -->

        </div>

        <ng-container *ngIf="!registroBasico">
          <br>
          <h4 class="font-weight-bold text-primary">Información Adicional</h4>
        </ng-container>

        <div *ngIf="!registroBasico" class="row">

          <!-- TELEFONO -->
          <div class="col-sm-12 col-md-3">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="telefono" formControlName="telefono" placeholder="{{ isRequired(form.controls.telefono) ? '* ' : '' }} Teléfono">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.telefono)" [errorMsg]="getFieldError(form.controls.telefono)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /TELEFONO -->

          <!-- CELULAR -->
          <div class="col-sm-12 col-md-3">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="celular" formControlName="celular" placeholder="{{ isRequired(form.controls.celular) ? '* ' : '' }} Celular">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.celular)" [errorMsg]="getFieldError(form.controls.celular)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /CELULAR -->

          <!-- DIRECCION -->
          <div class="col-sm-12 col-md-3">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="direccion" formControlName="direccion" placeholder="{{ isRequired(form.controls.direccion) ? '* ' : '' }} Dirección">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.direccion)" [errorMsg]="getFieldError(form.controls.direccion)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /DIRECCION -->

          <!-- CODIGO POSTAL -->
          <div class="col-sm-12 col-md-3">
            <mat-form-field class="example-full-width has-label">
              <input type="text" matInput id="codigoPostal" formControlName="codigoPostal" placeholder="{{ isRequired(form.controls.codigoPostal) ? '* ' : '' }} Código Postal">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.codigoPostal)" [errorMsg]="getFieldError(form.controls.codigoPostal)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /CODIGO POSTAL -->

        </div>

        <div *ngIf="!registroBasico" class="row">

          <!-- PAIS -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="pais" formControlName="pais" placeholder="{{ isRequired(form.controls.pais) ? '* ' : '' }} País"
                (selectionChange)="getDepartamentos($event.source.value)">
                <mat-option *ngFor="let pais of paises" [value]="pais.id">
                  {{ pais.nombre }}
                </mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.pais)" [errorMsg]="getFieldError(form.controls.pais)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /PAIS -->

          <!-- DEPARTAMENTO -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="departamento" formControlName="departamento" placeholder="{{ isRequired(form.controls.departamento) ? '* ' : '' }} Departamento"
                (selectionChange)="getCiudades($event.source.value)">
                <mat-option *ngFor="let dpto of departamentos" [value]="dpto.id">
                  {{ dpto.nombre }}
                </mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.departamento)" [errorMsg]="getFieldError(form.controls.departamento)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /DEPARTAMENTO -->

          <!-- CIUDAD -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="ciudad" formControlName="ciudad" placeholder="{{ isRequired(form.controls.ciudad) ? '* ' : '' }} Ciudad">
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
                  {{ ciudad.nombre }}
                </mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.ciudad)" [errorMsg]="getFieldError(form.controls.ciudad)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /CIUDAD -->

        </div>

      </form>
    </div>
  </div>
</form>


<div *ngIf="scope && scope !== 'ADD' && form && usuarioId" class="row">
  <br>
  <div class="col-12 text-right">
    <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid" (click)="updatePersona()">Modificar</button>
  </div>
</div>
