<!-- MIGA DE PAN -->
<div class="row" *ngIf="!isHome">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">Preguntas</li>
      </ol>
    </nav>
  </div>
</div>
<!-- /MIGA DE PAN -->

<br>

<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="type1">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="category text-secondary font-weight-bold text-center">PREGUNTAS SIN RESPUESTAS</h3>
        <p>Encontramos <strong>{{totalPreguntas}} preguntas</strong> sin responder</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="type2">
    <app-pregunta-buscador [isHome]="false" [pregunta]="pregunta"></app-pregunta-buscador>

    <br>

    <div class="row">
      <div class="col-12 text-center">

        <h2 class="font-weight-bold">{{pregunta}}</h2>
        <p>Encontramos <strong>{{totalPreguntas}} resultados</strong> de preguntas similares hechas anteriormente</p>
        <p><strong>¿Aún quieres continuar con tu pregunta?</strong></p>
        <button mat-raised-button class="btn btn-primary" [routerLink]="['/preguntas/add', pregunta]">SI, DESEO HACER MI
          PREGUNTA</button>

      </div>
    </div>

    <hr>
  </ng-container>
  <ng-container *ngSwitchCase="type3">
    <div *ngIf="!isHome" class="row">
      <div class="col-12 text-center">

        <h3 class="font-weight-bold text-primary">Preguntas</h3>
        <p>Encontramos <strong>{{totalPreguntas}} resultados</strong></p>

      </div>
    </div>

    <app-pregunta-select-categoria [showBreadcrumb]="!isHome" [showCategoriaOtro]="true"
      [categoriaPadreId]="categoriaId" (eventCategoria)="getEventGetCategoriaId($event)"
      (eventIsOk)="getEventGetCategoriasIsOk($event)">
    </app-pregunta-select-categoria>

    <br>

  </ng-container>
  <ng-container *ngSwitchCase="type4">
    <div *ngIf="!isHome" class="row">
      <div class="col-12 text-center">

        <h3 class="font-weight-bold text-primary">Preguntas</h3>
        <p>Encontramos <strong>{{totalPreguntas}} resultados</strong></p>

      </div>
    </div>
    <br>

  </ng-container>
</ng-container>

<!-- PREGUNTAS -->
<app-list-preguntas *ngIf="!isHome" [words]="words" [sort]="sort" [usuarioId]="usuarioId" [categoriaId]="categoriaId"
  [preguntasConRespuesta]="preguntasConRespuesta" [preguntasSinRespuesta]="preguntasSinRespuesta"
  (eventCantidadPreguntas)="getEventCantidadPreguntas($event)">
</app-list-preguntas>
<!-- /PREGUNTAS -->

<ng-container *ngIf="type === type3">
  <div *ngIf="isHome" class="row justify-content-center">
    <div class="col-12 text-center">
      <br>
      <br>
      <a class="btn-principal" [routerLink]="['/preguntas/search/category/allCategories']">Ver todas</a>
    </div>
  </div>
</ng-container>
