<div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-12 mb20"><img class="img-pat" src="./assets/img/nuevopais.png" /></div>
      <div class="col-md-3 col-sm-12 mb20"><img class="img-pat" src="./assets/img/colciencias.png" /></div>
      <div class="col-md-3 col-sm-12 mb20"><img class="img-pat" src="./assets/img/mintic.png" /></div>
      <div class="col-md-3 col-sm-12 mb20"><img class="img-pat" src="./assets/img/appsco.png" /></div>
    </div>
  </div>
</div>
<br>