<h1 mat-dialog-title class="text-center">TÉRMINOS Y CONDICIONES DE USO DE LA PLATAFORMA</h1>
<div mat-dialog-content>
  <div class="content">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p class="text-justify">
          <strong>NOMBRE SOCIEDAD</strong>
          <br>
          <br>
          WORDS OF HOPE S.A.S. es una sociedad constituida conforme a las leyes Colombianas, identificada con NIT:
          901.111.690, con domicilio en la ciudad de Barranquilla.
          <br>
          <br>
          <strong>REGLAMENTO DE USO DEL PORTAL WEB (PERSONAS NATURALES Y PERSONAS JURÍDICAS)</strong>
          <br>
          <br>
          Lo invitamos a revisar los términos y condiciones en su integridad antes de acceder a este sitio. En todo
          caso, el uso de esta plataforma implica su aceptación a los términos y condiciones del sitio.
          Los términos de uso estarán siempre disponibles en este sitio y específicamente en la dirección www.woh.com.co
          La utilización del software se interpretará como un hecho inequívoco de que acepta los términos y condiciones
          de esta licencia. Si no acepta las condiciones de esta licencia, no haga uso de la aplicación.
          <br>
          <br>
          Los siguientes términos de uso definen las condiciones de uso y acceso del servicio que ofrece la aplicación
          Words of Hope y la página web www.woh.com.co Cada vez que un usuario se registra o accede a los servicios que
          ofrece la aplicación Words Of Hope reconoce y comprende que ha leído, ha aceptado y está de acuerdo con estos
          términos.
          <br>
          <br>
          <strong>DEFINICIONES PARA ENTENDER TÉRMINOS Y CONDICIONES</strong>
          Si no sabes lo qué te pasa, no le encuentras sentido a la vida y a nada, tienes dificultades en lo emocional y
          comportamental, vives miedos, ansiedad, depresión o angustia, no puedes tomar decisiones coherentes, tienes
          dificultades en las relaciones sociales y de pareja, adicciones, o modos de ser y tipos de afrontamiento, que,
          sumados a otras alteraciones, afectan tu bienestar, el sentido y la calidad de vida. Words of Hope es tu
          espacio para ser escuchado y recibir palabras de esperanza, esperanza que sí puedes salir de esa situación o
          problema que te impide experimentar bienestar y ser feliz contigo mismo(a) y los demás. Contarás con un
          profesional en Psicología que te escuchará y acompañará. Tendrás la oportunidad de hacer preguntas en nuestro
          módulo de &quot;haz tu pregunta&quot;, cualquiera que sea, y así resolver cualquier duda que tengas acerca de lo que
          está pasando en tu vida; será respondida en el menor tiempo por uno de nuestros psicólogos calificados.
          Además, las 24 horas del día y 7 días de la semana, podrás acceder a una sesión por medio de chat, llamada o
          vídeo llamada con nuestros profesionales, con el fin de ayudarte a clarificar tus problemas, a encontrar calma
          en la tormenta. Te ayudamos con esperanza, linterna y mapa para que encuentres la salida, para que sepas que
          hacer contigo mismo(a).
          <br>
          <br>
          <strong>PROMESA DE VALOR</strong>
          La plataforma Words of Hope, tiene como propósito brindar atención psicológica, con personal altamente
          calificado para resolver las dudas que tengas acerca de lo que pasa contigo y en tu vida a personas
          registradas anteriormente en la plataforma web. Tendrás respuesta a tus preguntas en un término menor a 24
          horas, para la cual se busca brindar atención, acompañamiento y asesoría psicológica de parte de nuestros
          profesionales calificados y certificados 24 horas y 7 días de la semana de manera inmediata y ágil, en línea y
          en tiempo real. Sin salir de tu casa por medio de chat, llamada o vídeo llamada.
          <br>
          <br>
          <strong>ALCANCE Y USO</strong>
          Words of Hope guía y acompaña a clarificar las situaciones, a sanar, a empoderar, a enseñar a las personas qué
          hacer con ellas mismas, a ayudar a resolver, pero el que toma la decisión, la acción y resuelve directamente
          es el cliente en su propia vida.
          <br>
          <br>
          Servicio, acompañamiento y asesoría psicológica:
          • Respuesta de preguntas y dudas
          • Sesiones psicológicas por medio de chat, llamada y/o vídeo llamada
          <br>
          <br>
          <strong>PROCESO DEL SERVICIO</strong>
          • El usuario podrá registrarse en la plataforma para recibir atención y diferentes servicios que la aplicación
          ofrece.
          • El usuario está en la libertad de realizar una pregunta de interés en la plataforma para que esta sea
          atendida por un psicólogo de manera anónima.
          • En la plataforma podrás resolver las dudas que tengas acerca de lo que pasa contigo y en tu vida. Tus
          preguntas serán respondidas por nuestros profesionales en el menor tiempo posible.
          • Podrás recibir atención, acompañamiento y asesoría psicológica: Por nuestros profesionales calificados y
          certificados 24 horas y 7 días de la semana de manera inmediata y ágil, en línea y en tiempo real, sin salir
          de tu casa por medio de chat, llamada o vídeo llamada
          <br>
          <br>
          <strong>REQUISITOS PARA USO</strong>
          Los requisitos para el uso de la aplicación web es tener una excelente conexión a internet.
          <br>
          <br>
          <strong>VALOR Y FORMA DE PAGO DE PRODUCTOS O SERVICIOS</strong>
          La forma de pago será a través de la plataforma de pago Epayco. Cuando el usuario ingrese sesión e ingrese a
          su entorno, encontrará una opción en el menú principal “atención en vivo”; en esta opción encontrará todos los
          psicólogos disponibles en el momento, con su respectivo valor, y un botón verde “pagar ahora”; ese botón
          llevará al usuario a Epayco y tendrá que ingresar qué método de pago va a utilizar, y la información
          correspondiente. Se aceptan pagos en efectivo, tarjeta débito, tarjeta de crédito, PSE, y pago en bancos.
          <br>
          <br>
          <strong>DERECHOS DE LOS USUARIOS</strong>
          • Tener respuesta de sus preguntas de forma anónima o real en la página y de manera personalizada (dependiendo
          si se registra o no).
          • El usuario (por primera vez) tiene derecho a una sesión de 20 minutos totalmente gratis.
          • Contar con un profesional que lo acompañe y guíe constantemente y/o cuando el usuario lo requiera por medio
          de sesiones de 50 minutos (por medio de chat, llamada o vídeo llamada, según preferencia)
          • Retroalimentación y/o reportes de su proceso.
          <br>
          <br>
          <strong>OBLIGACIONES DE LOS USUARIOS</strong>
          • Contar con un correo electrónico real.
          • Proveer datos verdaderos.
          • Mantener el respeto con otros usuarios y profesionales.
          • Contar con conexión a internet (rápida)
          • Contar con un equipo que pueda soportar chat, llamada o vídeo llamada.
          • Leer y firmar los términos y condiciones.
          • No puede tener la atención y asesoría por fuera de la plataforma.
          • No podrá solicitar teléfonos, direcciones o cualquier dato personal del psicólogo encargado de su proceso.
          • La atención que reciba el usuario será personalizada e individual, no podrá ser remitida a un tercero a un
          grupo (al menos que el profesional lo indique)
          <br>
          <br>
          <strong>PROPIEDAD INTELECTUAL</strong>
          Cada usuario se compromete a respetar los derechos de autor, la marca, secreto comercial, derechos morales u
          otros derechos de propiedad intelectual, de publicidad o privacidad y/o derechos de autor. La aplicación dará
          por terminado el servicio unilateralmente si el usuario infringe los derechos de autor, la marca, secreto
          comercial, derechos morales u otros derechos de propiedad intelectual, de publicidad o privacidad.
          <br>
          <br>
          Toda información, contenidos y material suministrado a La aplicación, está protegido por derechos de autor,
          marcas registradas conforme a la legislación de la República de Colombia, la Comunidad Andina (CAN), la
          Organización Mundial de Propiedad Intelectual (OMPI), así como por las disposiciones de tratados
          internacionales. Cada Usuario debe reconocer y aceptar que todo el contenido de La aplicación, incluyendo
          todos los derechos de propiedad intelectual asociados, es propiedad exclusiva de esta aplicación y de sus
          licenciantes.
          <br>
          <br>
          Los formatos, protocolos de atención son de propiedad exclusiva de Words of Hope SAS y no podrán ser usados
          por los psicólogos sin previa y escrita autorización de su titular.
          <br>
          <br>
          <strong>INTEGRACIÓN CON OTRAS APLICACIONES</strong>
          Los links de Facebook®, Instagram®, Twitter® en esta aplicación puede mostrar contenido que no están bajo
          nuestro control. En todo caso usted tiene la obligación de verificar las secciones de términos y condiciones,
          política legal y de privacidad de las redes sociales o de terceros que con los cuales tenga enlace nuestra
          aplicación.
          Words of Hope SAS no acepta responsabilidad por el contenido del sitio de un tercero con el cual existe un
          link de hipertexto y no ofrece garantía (explícita o implícita) en cuanto al contenido de la información en
          esos sitios, ya que no recomienda estos sitios, sólo permitimos el acceso para mayor comodidad del usuario.
          Words of Hope SAS no asume ninguna responsabilidad por pérdida directa, indirecta o consecuencial por el uso
          de un sitio de un tercero.
          USO DE INFORMACIÓN Y PRIVACIDAD
          Con el uso de la plataforma usted acepta y autoriza que Words of Hope SAS, utilice sus datos en calidad de
          responsable del tratamiento para fines derivados de la ejecución de la plataforma de acuerdo con la política
          de tratamiento de datos personales disponible en www.woh.com.co/protección-datos
          <br>
          <br>
          <strong>DECLARACIÓN DE RESPONSABILIDAD</strong>
          Procuraremos garantizar disponibilidad, continuidad o buen funcionamiento de la plataforma web. Sin embargo,
          podremos bloquear, interrumpir o restringir el acceso a esta cuando lo considere necesario para el
          mejoramiento de la aplicación o por dada de baja de la misma.
          <br>
          <br>
          Se recomienda al Usuario tomar medidas adecuadas y actuar diligentemente al momento de acceder a la plataforma
          web, como por ejemplo, contar con programas de protección, antivirus, para manejo de malware, spyware y
          herramientas similares.
          Words of Hope SAS no será responsable por: a) Fuerza mayor o caso fortuito; b) Por la pérdida, extravío o
          hurto de su dispositivo informático/móvil que implique el acceso de terceros a la plataforma web; c) Por
          errores en la digitación o accesos por parte del cliente; d) Por los perjuicios, lucro cesante, daño
          emergente, morales, y en general sumas a cargo de Words of Hope SAS, por los retrasos, no procesamiento de
          información o suspensión del servicio del operador móvil o daños en los dispositivos móviles.
          <br>
          <br>
          <strong>DENEGACIÓN Y RETIRADA DEL ACCESO A LA APLICACIÓN</strong>
          En el Evento en que un Usuario incumpla estos Términos y Condiciones, o cualesquiera otras disposiciones que
          resulten de aplicación/plataforma web, Words of Hope SAS podrá suspender temporal o definitivamente su acceso
          a la aplicación/plataforma web.
          <br>
          <br>
          <strong>JURISDICCIÓN</strong>
          Estos términos y condiciones y todo lo que tenga que ver con esta aplicación, se rigen por las leyes
          colombianas.
          <br>
          <br>
          <strong>USO DE INFORMACIÓN NO PERSONAL</strong>
          1. En la definición de seguridad que utilizará la plataforma lo hemos implementado con el uso de buenas
          prácticas de desarrollo y aplicación de métodos que nos alerten cuando se estén realizando procesos que
          comprometan la información sensible.
          2. Utilizaremos procesos de auditoría desde nuestra base de datos para detectar si realizaron cambios a
          información sensible.
          3. Antes de estar en producción con la plataforma o app, se tiene un término de un mes de prueba donde se debe
          abarcar la migración o implementación de la plataforma y dentro de ese término pactar etapas de pruebas para
          la detección a tiempo de posibles errores. Dado caso alguien detecte un error este caso será tratado a la
          mayor brevedad posible para que la integridad de la información no resulte afectada.
          4. Words of Hope SAS será una plataforma web que a medida que vaya implementando más servicios se irá
          actualizando automáticamente sin alterar información del psicólogo.
          <br>
          <br>
          <strong>USO DE DIRECCIONES IP</strong>
          Una dirección de Protocolo de Internet (IP) es un conjunto de números que se asigna automáticamente a su o
          dispositivo móvil cuando usted accede a su proveedor de servicios de internet, o a través de la red de área
          local (LAN) de su organización o la red de área amplia (WAN). Los servidores web automáticamente identifican
          su dispositivo móvil por la dirección IP asignada a él durante su sesión en línea.
          <br>
          <br>
          Words of Hope SAS podrán recolectar direcciones IP para propósitos de administración de sistemas y para
          auditar el uso de nuestro sitio, todo lo anterior de acuerdo con la autorización de protección de datos que se
          suscribe para tal efecto. Normalmente no vinculamos la dirección IP de un usuario con la información personal
          de ese usuario, lo que significa que cada sesión de usuario se registra, pero el usuario sigue siendo anónimo
          para nosotros. Sin embargo, podemos usar las direcciones IP para identificar a los usuarios de nuestro sitio
          cuando sea necesario con el objeto de para exigir el cumplimiento de los términos de uso del sitio, o para
          proteger nuestro servicio, sitio u otros usuarios.
          <br>
          <br>
          <strong>SEGURIDAD</strong>
          Words of Hope SAS está comprometido en la protección de la seguridad de su información personal. No obstante,
          tenemos implementados mecanismos razonables de seguridad que aseguran la protección de la información
          personal, así como los accesos únicamente al personal y sistemas autorizados, también contra la pérdida, uso
          indebido y alteración de sus datos de usuario bajo nuestro control.
          <br>
          <br>
          Excepto como se indica a continuación, sólo personal autorizado tiene acceso a la información que nos
          proporciona. Además, hemos impuesto reglas estrictas a los empleados de Words of Hope SAS con acceso a las
          bases de datos que almacenan información del usuario o a los servidores que hospedan nuestros servicios.

        </p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>
