<div class="card">
  <div class="card-body">

    <h3 class="card-title text-center font-weight-bold text-primary">{{title}}</h3>
    <br>
    <!-- userRol: {{userRol}}
    <br>
    currentTab: {{currentTab}}
    <br>
    usuarioId: {{usuarioId}}
    <br>
    scope: {{scope}}
    <br> -->

    <ng-container *ngIf="!showActivarUsuario; else other_template_activar_usuario">
      <!-- TABS -->
      <div class="nav-pills-navigation">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item" (click)="currentTab = 1">
            <a class="nav-link" href="#cuenta-usuario" data-toggle="tab" role="tab"
              [ngClass]="{'active' : currentTab === 1}">
              Datos Usuario
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'disabled':!isValidFormDatosUsuario && !loggedIn}" (click)="currentTab = 2">
            <a class="nav-link" href="#datos-personales" data-toggle="tab" role="tab"
              [ngClass]="{'active' : currentTab === 2}">
              Datos Personales
            </a>
          </li>
          <li *ngIf="loggedIn && userRol === 3" class="nav-item"
            [ngClass]="{'disabled':!isValidFormDatosPersonales && !loggedIn && !usuarioId}" (click)="currentTab = 3">
            <a class="nav-link" href="#perfil-profesional" data-toggle="tab" role="tab"
              [ngClass]="{'active' : currentTab === 3}">
              Perfil profesional
            </a>
          </li>
        </ul>
      </div>
      <!-- /TABS -->
      <!-- TABS CONTENT -->
      <div class="tab-content">
        <!-- TAB DATOS USUARIO -->
        <div class="tab-pane" id="cuenta-usuario" [ngClass]="{'active' : currentTab === 1}">
          <br>
          <br>
          <app-datos-usuario [usuarioId]="usuarioId" (eventCurrentUsername)="getCurrentUsernameEvent($event)"
            (eventFormValid)="getFormDatosUsuarioValidEvent($event)"
            (eventFormDatos)="getFormDatosUsuarioDataEvent($event)"></app-datos-usuario>
          <div class="row" *ngIf="!loggedIn">
            <div class="col-12 text-right">
              <button mat-raised-button class="btn btn-primary" (click)="isValidUsername()"
                [disabled]="!isValidFormDatosUsuario">Siguiente</button>
            </div>
          </div>
        </div>
        <!-- /TAB DATOS USUARIO -->
        <!-- TAB DATOS PERSONALES -->
        <div class="tab-pane" id="datos-personales" *ngIf="isValidFormDatosUsuario || loggedIn"
          [ngClass]="{'active' : currentTab === 2}">
          <br>
          <br>
          <app-datos-personales [usuarioId]="usuarioId" [userRol]="userRol" [registroBasico]="registroBasico"
            [currentEmail]="currentUsername" [scope]="scope" (eventFormValid)="getFormValidEvent($event)"
            (eventFormDatos)="getFormDataEvent($event)"></app-datos-personales>
          <div class="row" *ngIf="!loggedIn">
            <div class="col-12 text-right buttons-row">
              <button mat-raised-button class="btn" (click)="currentTab = 1">Atrás</button>
              <ng-container *ngIf="!usuarioId; else other_template_register">
                <button mat-raised-button class="btn btn-primary" [disabled]="!getFormsValid()"
                  (click)="addUsuario()">Registrar</button>
              </ng-container>
              <ng-template #other_template_register>
                <button mat-raised-button class="btn btn-primary" (click)="currentTab = 3">Siguiente</button>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- /TAB DATOS PERSONALES -->

        <!-- TAB PERFIL PROFESIONAL -->
        <div class="tab-pane" id="perfil-profesional"
          *ngIf="userRol === 3  && usuarioId && (isValidFormDatosPersonales || loggedIn)"
          [ngClass]="{'active' : currentTab === 3}">
          <br>
          <br>
          <app-perfil-profesional [usuarioId]="usuarioId"></app-perfil-profesional>
          <br>
          <div class="row">
            <div class="col-12 text-right">
              <button mat-raised-button class="btn" (click)="currentTab = 2">Atrás</button>
            </div>
          </div>
        </div>
        <!-- /TAB PERFIL PROFESIONAL -->

      </div>
      <!-- /TABS CONTENT -->
    </ng-container>
    <ng-template #other_template_activar_usuario>
      <hr>
      <div class="row">
        <div class="col-12 text-center">
          <h5>Para continuar con el proceso es necesario activar el usuario.<br>Hemos enviado un link de activación al correo electrónico <strong>{{persona.correo}}</strong></h5>
          <!-- <h5>Para continuar con el proceso es necesario activar el usuario.<br>Hemos enviado un link de activación al correo electrónico <strong>leo-2707@hotmail.es</strong></h5> -->
        </div>
      </div>

      <div class="row">
        <div class="col-12 buttons-row text-center">
          <button mat-raised-button class="btn btn-primary" [routerLink]="['/home']">Volver a Inicio</button>
        </div>
      </div>

    </ng-template>

  </div>

</div>
