<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          Logs
        </li>
      </ol>
    </nav>
  </div>
</div>

<br>
<form [formGroup]="form" class="form-estudios">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center font-weight-bold text-primary">Logs</h3>
      <br>
      <div class="row justify-content-center">
          <div class="col-sm-12 col-md-2">
              <mat-form-field class="has-label">
                <mat-label>TRACE</mat-label>
                <mat-select formControlName="trace" placeholder="Seleccione un trace">
                  <mat-option value="auditoria">AUDITORIA</mat-option>
                  <mat-option value="logs">LOGS</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field class="has-label">
            <mat-label>API</mat-label>
            <mat-select formControlName="api" placeholder="Seleccione una api">
              <mat-option *ngFor="let api of apis" [value]="api">
                {{ api }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input matInput formControlName="fechaInicio" [matDatepicker]="pickerI"
              placeholder="Seleccione la fecha de inicio" (click)="pickerI.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
            <mat-datepicker #pickerI></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>Hora inicio</mat-label>
            <input matInput type="time" formControlName="horaInicio" id="horaInicio">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>Fecha Fin</mat-label>
            <input matInput formControlName="fechaFin" [matDatepicker]="pickerF"
              placeholder="Seleccione la fecha de terminación" (click)="pickerF.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
            <mat-datepicker #pickerF></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>Hora Fin</mat-label>
            <input matInput type="time" formControlName="horaFin" id="horaFin">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Request-Id</mat-label>
            <input type="text" matInput id="requestId" formControlName="requestId">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput id="username" formControlName="username">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Status Code</mat-label>
            <input type="text" matInput id="statusCode" formControlName="statusCode">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>level</mat-label>
            <input type="text" matInput id="level" formControlName="level">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>appId</mat-label>
            <input type="text" matInput id="appId" formControlName="appId">
          </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>ipCliente</mat-label>
            <input type="text" matInput id="ipCliente" formControlName="ipCliente">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>ipServidor</mat-label>
            <input type="text" matInput id="ipServidor" formControlName="ipServidor">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
          <mat-form-field>
            <mat-label>metodo</mat-label>
            <input type="text" matInput id="metodo" formControlName="metodo">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2">
            <mat-form-field>
              <mat-label>acción</mat-label>
              <input type="text" matInput id="accion" formControlName="accion">
            </mat-form-field>
          </div>
        <div class="col-sm-12 col-md-2">
          <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid" (click)="getFilterLogs()">Filtrar</button>
        </div>
      </div>
      
      <hr>

      <div class="row">
        <div class="col-12 text-center">
          <!-- <h4 class="card-title text-center font-weight-bold text-secondary">Encontramos {{totalRegistros}} resultados</h4> -->
          <h4 class="card-title text-secondary">Encontramos <strong>{{totalRegistros}} resultados</strong></h4>
        </div>
      </div>

      <br>

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="ordenarTabla($event)">

            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'logs'" matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'auditoria'" matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
              </ng-container>

            <ng-container *ngIf="trace == 'logs'" matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'color':element.level === 'ERROR' ? 'red' : 'null' }">
                {{element.level}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'auditoria'" matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
                <td mat-cell *matCellDef="let element">
                  {{element.accion}} </td>
              </ng-container>

            <ng-container matColumnDef="requestId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> RequestId </th>
              <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'logs'" matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'auditoria'" matColumnDef="appId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> appId </th>
                <td mat-cell *matCellDef="let element"> {{element.appId}} </td>
              </ng-container>

            <ng-container *ngIf="trace == 'logs'" matColumnDef="metodo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Metodo </th>
              <td mat-cell *matCellDef="let element"> {{element.metodo}} </td>
            </ng-container>

            <ng-container *ngIf="trace == 'auditoria'" matColumnDef="idRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> idRegistro </th>
                <td mat-cell *matCellDef="let element"> {{element.idRegistro}} </td>
              </ng-container>

            <ng-container matColumnDef="actionDetalle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="verDetalle(element)">search</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <!-- PAGINADOR -->
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <app-pagination [totalPagesInput]="totalPages" [currentPage]="currentPage"
            (currentPageEvent)="getCurrentPage($event)"></app-pagination>
        </div>
      </div>
      <!-- /PAGINADOR -->
    </div>
  </div>
</form>
