<footer class="footer footer-big" data-background-color="black">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-4 offset-md-1 brd-right">
          <div class="row">
            <div class="col-md-4 col-sm-12" style="align-self: center">
              <div class="logo-footer">
                <img class="img-footer" src="./assets/img/logo-full.png">
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <h1 class="title-degrade title-bold">Words of Hope</h1>
            </div>
          </div>

        </div>
        <div class="col-md-3 brd-right">
          <h5 class="title-degrade title-bold">Contacto</h5>
          <ul class="links-vertical">
            <li class="title-bold">Celular:</li>
            <li>+57 313 3753 782 <img src="../../../assets/img/wts.svg" style="width: 10%"/></li>
            <br>
            <li class="title-bold">Email:</li>
            <li><a class="link" href="mailto:wordsofhopeco@gmail.com?subject=Contacto WOH&body=">wordsofhopeco@gmail.com</a>
            </li>
            <li>Colombia</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <ul class="social-buttons">
                <li class="socials">
                  <a href="https://www.instagram.com/wordsofhopeco/" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="socials">
                  <a href="https://www.instagram.com/wordsofhopeco/" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h5 class="title-degrade title-bold">Método de pago</h5>
              <img class="epayco-button text-link" width="144"
                src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn6.png"
                (click)="epayco()">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <ul class="links-vertical">
                <li>
                  <a class="link" (click)="openDialogTerminosYCondiciones()">Términos y Condiciones</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <!--<div class="col-md-2">
          <h5 class="text-white">Forma de pago</h5>
          <img class="epayco-button text-link" width="144" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn6.png" (click)="epayco()">
        </div>
      -->
      </div>
    </div>
    <hr>
    <div class="copyright">Copyright © 2020 Todos los derechos reservados por Words of Hope</div>
  </div>
</footer>
