.footer {
  border-top: 2px solid #0081a7;
  color: gray !important;
}

mat-list-item {
  color: gray !important;
}

.logo-footer {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  color: gray;
  font-weight: 500;
}

.text-link {
  color: gray;
  font-weight: 100;
}

.text-link {
  cursor: pointer;
}

.brd-right {
  border-right: 2px solid #0081a7;
}

.footer {
  text-align: left;
}

.socials {
  margin-right: 20px;
}

.footer ul li a {
  color: #00afb9;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.link {
  font-size: 12px !important;
  color: gray !important;
  cursor: pointer;
}

.link:hover {
  color: #00afb9 !important;
}

.footer .copyright {
  text-align: center;
  padding: 0;
}

.img-footer {
  width: 130%;
}

@media (max-width: 599px) {
  .img-footer {
    width: 50%;
  }
}