<form [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <h5 class="title-card">AGENDA TU CITA</h5>
      <!-- NOMBRES Y APELLIDOS -->
      <div class="row">
        <div class="col-md-12">

          <mat-form-field appearance="outline" class="example-full-width has-label">
            <mat-label>* Nombre y Apellido</mat-label>
            <input matInput type="text" formControlName="nombre">
          </mat-form-field>

        </div>
      </div>


      <div class="row">
        <!-- EMAIL -->
        <div class="col-md-7 col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width has-label">
            <mat-label>* Email</mat-label>
            <input matInput type="email" class="email" formControlName="email">
          </mat-form-field>

        </div>
        <!-- CELULAR -->
        <div class="col-md-5 col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width has-label">
            <mat-label>* Celular</mat-label>
            <input matInput type="tel" class="username" formControlName="celular">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- PROFESIONAL -->
          <mat-form-field appearance="outline" class="example-full-width has-label">
            <mat-label>* Psicólogo</mat-label>
            <mat-select id="profesional" formControlName="profesional">
              <mat-option *ngFor="let profesional of profesionales"
                [value]="profesional.persona.nombres + ' ' + profesional.persona.apellidos">
                {{ profesional.persona.nombres }} {{ profesional.persona.apellidos }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <a [routerLink]="['/profesionales']" target="_blank" class="btn btn-primary btn-link pd-0 mp0">Clic aquí para
        conocer
        nuestros profesionales</a>
      <div class="card-footer text-center">
        <button mat-flat-button class="btn btn-rose btn-link btn-lg btn-principal"
          style="padding-top: 5px" [disabled]="!form.valid" (click)="agendar()">AGENDAR</button>
      </div>
    </div>
  </div>
</form>
