<form [formGroup]="form" class="form-experiencias">

  <br>

  <div class="row">

    <!-- BTN AGREGAR EXPERIENCIA-->
    <div class="col-12">
      <a [routerLink]="" class="text-success" (click)="addNewRow(formArrayExperiencias)">
        <mat-icon>add_circle</mat-icon> Agregar Experiencia
      </a>
    </div>
    <!-- /BTN AGREGAR EXPERIENCIA-->
  </div>

  <br>

  <mat-accordion *ngIf="perfilId" formArrayName="experiencias">
    <mat-expansion-panel *ngFor="let itemRowExperiencia of form.controls.experiencias.controls; let i=index" [expanded]="currentAccordion === i"
      (opened)="accordionState = true; setCurrentAccordion(i)" (closed)="accordionState = false" class="mat-elevation-z0 accordion-no-border"
      [formGroupName]="i">

      <!-- itemRowExperiencia.invalid: {{itemRowExperiencia.invalid}}
        <br>
        itemRowExperiencia.valid: {{itemRowExperiencia.valid}} -->
      <!-- {{getFieldError(itemRowExperiencia.controls.institucion)}} -->
      <br>

      <mat-expansion-panel-header>
        <mat-panel-title class="text-secondary font-weight-bold2" [ngClass]="accordionState && currentAccordion === i ? 'border-botton' : null">
          <ng-container *ngIf="itemRowExperiencia.value.empresa && itemRowExperiencia.value.cargo; else other_experiencia_title">
            {{itemRowExperiencia.value.empresa}} - {{itemRowExperiencia.value.cargo}}
          </ng-container>
          <ng-template #other_experiencia_title>
            NUEVA EXPERIENCIA
          </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">


        <!-- EMPRESA -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowExperiencia.controls.empresa) ? '* ' : '' }} Empresa</mat-label>
            <input type="text" matInput formControlName="empresa" placeholder="Nombre de la empresa">
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.empresa)" [errorMsg]="getFieldError(itemRowExperiencia.controls.empresa)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /EMPRESA -->

        <!-- CARGO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowExperiencia.controls.cargo) ? '* ' : '' }} Cargo</mat-label>
            <input type="text" matInput formControlName="cargo" placeholder="Nombre del cargo">
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.cargo)" [errorMsg]="getFieldError(itemRowExperiencia.controls.cargo)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /CARGO -->

      </div>

      <div class="row">

        <!-- FECHA INICIO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field>
            <mat-label>{{ isRequired(itemRowExperiencia.controls.fechaInicio) ? '* ' : '' }} Fecha de inicio</mat-label>
            <input matInput formControlName="fechaInicio" [matDatepicker]="pickerI" placeholder="Seleccione la fecha de inicio"
              (click)="pickerI.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
            <mat-datepicker #pickerI></mat-datepicker>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.fechaInicio)"
              [errorMsg]="getFieldError(itemRowExperiencia.controls.fechaInicio)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /FECHA INICIO -->        

        <!-- FECHA FIN -->
        <div *ngIf="!itemRowExperiencia.value.actualmente" class="col-sm-12 col-md-4">
          <mat-form-field>
            <mat-label>{{ isRequired(itemRowExperiencia.controls.fechaFin) ? '* ' : '' }} Fecha de terminación</mat-label>
            <input matInput formControlName="fechaFin" [matDatepicker]="pickerF" placeholder="Seleccione la fecha de terminación"
              (click)="pickerF.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
            <mat-datepicker #pickerF></mat-datepicker>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.fechaFin)" [errorMsg]="getFieldError(itemRowExperiencia.controls.fechaFin)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /FECHA FIN -->

        <!-- ACTUALMENTE -->
        <div class="col-sm-12 col-md-2">
            <mat-checkbox color="warn" name="actualmente" formControlName="actualmente">Actualmente</mat-checkbox>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.actualmente)"
              [errorMsg]="getFieldError(itemRowExperiencia.controls.actualmente)"></app-field-error-display>
        </div>
        <!-- /ACTUALMENTE -->

      </div>

      <div class="row">

        <!-- FUNCIONES -->
        <div class="col-12">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowExperiencia.controls.funciones) ? '* ' : '' }} Funciones</mat-label>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="5" maxlength="1000" formControlName="funciones" placeholder="Describe tus funciones"></textarea>
            <mat-hint *ngIf="itemRowExperiencia.value.funciones" align="end">{{itemRowExperiencia.value.funciones.length}} / 1000</mat-hint>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowExperiencia.controls.funciones)" [errorMsg]="getFieldError(itemRowExperiencia.controls.funciones)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /FUNCIONES -->        

      </div>

      <br>

      <!-- BUTTONS -->
      <div class="row">
        <div class="col-12 text-right buttons-row">
          <button mat-raised-button color="warn" (click)="deleteExperiencia(i)">Eliminar</button>
          <button mat-raised-button color="primary" (click)="addOrUpdateExperiencia(i)" [disabled]="itemRowExperiencia.invalid">Guardar</button>
        </div>
      </div>
      <!-- /BUTTONS -->

    </mat-expansion-panel>

  </mat-accordion>

</form>
