<ng-container *ngIf="pregunta">

  <div class="row">
    <div class="col-12">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/preguntas/search/category/allCategories']">Ver todas las preguntas</a>
          </li>
          <ng-container *ngIf="categoria">
            <ng-container *ngIf="categoria.padres && categoria.padres.length > 0">
              <li *ngFor="let padre of categoria.padres.reverse();" class="breadcrumb-item">
                <a
                  [routerLink]="['/preguntas/search/category', padre.id]">{{padre.descripcion | titlecasefirstletter}}</a>
              </li>
            </ng-container>
            <li class="breadcrumb-item">
              <a
                [routerLink]="['/preguntas/search/category', categoria.id]">{{categoria.descripcion | titlecasefirstletter}}</a>
            </li>
          </ng-container>
        </ol>
      </nav>

    </div>
  </div>

  <div *ngIf="loggedIn && rol <= 2" class="row">
    <div class="col-12 text-right">
      <button mat-raised-button class="btn btn-danger" (click)="deletePregunta()">Eliminar Pregunta</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12">

      <h4 class="text-justify font-weight-bold text-primary">{{pregunta.pregunta}}</h4>

      <br>

      <ng-container *ngIf="pregunta.informacionAdicionalArray">
        <br>
        <small class="text-muted font-weight-bold">Información Adicional</small>
        <p *ngFor="let text of pregunta.informacionAdicionalArray" class="text-justify" style="margin-bottom: 1px;">
          {{text}}</p>
      </ng-container>
    </div>
  </div>

  <br>

  <small class="text-muted font-weight-bold">{{pregunta.visitas}} visitas</small>
  <br>
  <ng-container *ngIf="pregunta.edad > 10; else other_container_menor_10">
    <small class="text-muted font-weight-bold">Preguntado por {{pregunta.genero}} de {{pregunta.edad}} años</small>
  </ng-container>
  <ng-template #other_container_menor_10>
    <small class="text-muted font-weight-bold">Preguntado por {{pregunta.genero}} menor de 10 años</small>
  </ng-template>

  <hr>

  <ng-container *ngIf="pregunta.respuestas && pregunta.respuestas.length > 0; else other_container_respuesta">

    <ng-container *ngFor="let respuesta of pregunta.respuestas">

      <!-- FOTO -->
      <div class="row">
        <div class="col-12">

          <div class="user">
            <div class="photo">
              <img
                src="{{routeFiles}}{{respuesta.usuarioId}}.jpg?+{{currentDate.getMinutes() + currentDate.getSeconds()}}">
            </div>
            <div class="user-info">
              <a [routerLink]="['/profesionales/perfil', respuesta.usuarioId]">
                <span class="text-capitalize font-weight-bold">{{respuesta.persona.nombres | titlecase}}
                  {{respuesta.persona.apellidos | titlecase}} </span>
              </a>
              <p class="card-text"><small class="text-muted">Psicología clínica</small></p>
            </div>
          </div>

        </div>
      </div>
      <!-- FOTO -->

      <!-- RESPUESTA -->
      <div class="row">
        <div class="col-12">
          <p *ngFor="let text of respuesta.respuestaArray" class="text-justify" style="margin-bottom: 1px;">{{text}}</p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-12">
            <span [innerHTML]="respuestaDefault">{{respuestaDefault}}</span>
        </div>
      </div>

      <br>
      
      <div class="row">
        <div class="col-12">

          <small class="text-muted font-weight-bold">¿Te ha sido útil esta respuesta?</small>

          <div style="display: flex; align-items: center; color: #3C4858">
            <ng-container *ngIf="!respuesta.checkUtil; else other_not_home">
              <a [routerLink]="" style="color: #3C4858" (click)="like(respuesta)"><i class="material-icons"
                  style="font-size: 16px;">thumb_up</i>&nbsp;&nbsp;{{respuesta.likes}}</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="" style="color: #3C4858" (click)="dislike(respuesta)"><i class="material-icons"
                  style="font-size: 16px;">thumb_down</i>&nbsp;&nbsp;{{respuesta.dislikes}}</a>
            </ng-container>
            <ng-template #other_not_home>
              <a [routerLink]="" style="color: #3C4858" class="isDisabled"><i class="material-icons"
                  style="font-size: 16px;">thumb_up</i>&nbsp;&nbsp;{{respuesta.likes}}</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="" style="color: #3C4858" class="isDisabled"><i class="material-icons"
                  style="font-size: 16px;">thumb_down</i>&nbsp;&nbsp;{{respuesta.dislikes}}</a>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- RESPUESTA -->

      <br>

    </ng-container>


  </ng-container>
  <ng-template #other_container_respuesta>
    <h4>No hay respuestas.</h4>
    <small *ngIf="rol != 3" class="text-muted">Muy pronto uno de nuestros especialistas responderá tu pregunta.</small>
  </ng-template>


  <!-- NUEVA RESPUESTA -->
  <ng-container *ngIf="pregunta.respuestas && pregunta.respuestas.length === 0 && loggedIn && rol <= 3">

    <br>

    <hr>

    <div class="card">
      <div class="card-body">

        <form [formGroup]="form">

          <!-- CATEGORIAS -->
          <app-pregunta-select-categoria [showBreadcrumb]="true" [showCategoriaOtro]="true"
            (eventCategoria)="getEventGetCategoria($event)"></app-pregunta-select-categoria>
          <!-- /CATEGORIAS -->

          <br>

          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" maxlength="2000"
                  formControlName="respuesta" placeholder="Respuesta"></textarea>
                <mat-hint align="end">{{form.value.respuesta.length}} / 2000</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-12 col-md-6 text-left">
              <p class="i-ft-lh10"> <b>Nota</b>: Por defecto, al final de tu respuesta irá el siguiente texto:
                <br>
                <br>
                "<i [innerHTML]="respuestaDefault"></i>"
              </p>
             <!-- <button mat-raised-button class="btn btn-primary" (click)="addRespuestaDefault()">Respuesta por
                defecto</button>-->
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <button mat-raised-button class="btn btn-primary" (click)="responder()"
                [disabled]="!form.valid || !pregunta.categoriaId">Responder</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <!-- /NUEVA RESPUESTA -->

</ng-container>
