<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/profesionales']">Profesionales</a>
        </li>
        <li class="breadcrumb-item">
          Perfil público
        </li>
      </ol>
    </nav>
  </div>
</div>

<br>

<ng-container *ngIf="profesional.estado; else other_user_disabled">

  <div class="row justify-content-md-center">

    <div class="col-sm-12 col-md-6">
      <div class="card card-profile">
        <div class="card-avatar" style="box-shadow: none;">
          <img src="{{routeFiles}}{{profesional.usuarioId}}.jpg" alt="Thumbnail Image"
            class="tmn-small rounded-circle img-fluid img-raised">
          <!-- <img src="./assets/img/avatar-user-default.png" alt="Thumbnail Image" class="tmn-small rounded-circle img-fluid img-raised"> -->
        </div>
        <div class="card-body">
          <h4 *ngIf="profesional.persona" class="card-title font-weight-bold text-primary">
            {{profesional.persona.nombres | titlecasefirstletter}}
            {{profesional.persona.apellidos | titlecasefirstletter}}</h4>
          <h5 class="card-category text-gray">
            {{profesional.especialidadPrincipal ? profesional.especialidadPrincipal : 'Psicólogo Clínico'}}</h5>
  
          <div class="row text-center">
            <div class="col-12 text-center">
              <ng-container *ngFor="let idioma of profesional.idiomas">
                <span class="badge badge-primary" style="font-size: 10px; padding: 7px 12px;">{{idioma}}</span>&nbsp;
              </ng-container>
            </div>
          </div>
  
          <div class="row" style="margin-top: 5px;">
            <div class="col-12">
              <span [innerHTML]="linkAgendarCitaProfesional">{{linkAgendarCitaProfesional}}</span>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>
  
  <div *ngFor="let perfil of profesional.perfiles; let i=index" class="row">
    <div class="col-12">
  
      <div class="card">
  
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">perm_identity</i>
          </div>
          <h4 class="card-title font-weight-bold text-primary">Psicología</h4>
        </div>
  
  
  
        <div class="card-body">
  
          <!-- DESCRIPCION -->
          <div *ngIf="perfil.perfil" class="row">
            <div class="col-12">
              <p class="card-description text-justify">
                {{perfil.perfil}}
              </p>
            </div>
          </div>
          <!-- /DESCRIPCION -->
  
          <br>
  
          <!-- ESPECIALIDADES -->
          <div *ngIf="perfil.especialidades" class="row">
            <div class="col-12">
  
              <h4 class="font-weight-bold text-primary">Especialidades</h4>
              <mat-chip-list>
                <mat-chip *ngFor="let especialidad of perfil.especialidades" color="primary">
                  {{especialidad}}
                </mat-chip>
              </mat-chip-list>
  
            </div>
          </div>
          <!-- /ESPECIALIDADES -->
  
          <br>
  
          <!-- ESTUDIOS -->
          <div class="row">
  
            <div class="col-sm-12 col-md-2">
              <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
  
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" [href]="'#'+i + 'tabEstudios'" role="tablist">
                    <i class="material-icons">school</i> Estudios
                  </a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" [href]="'#'+i + 'tabEstudiosComplementarios'" role="tablist">
                    <i class="material-icons">school</i> Estudios Complementarios
                  </a>
                </li>
  
              </ul>
            </div>
  
            <div class="col-sm-12 col-md-10">
              <div class="tab-content">
  
                <!-- TAB ESTUDIOS -->
                <div class="tab-pane active" [id]="i + 'tabEstudios'">
  
                  <ng-container *ngIf="perfil.estudios?.length > 0; else show_message_noEstudios">
  
                    <ng-container *ngFor="let estudio of perfil.estudios">
                      <div>
                        <b class="font-weight-bold2">• {{estudio.titulo | titlecasefirstletter}}</b>
                        <br>
                        <small class="text-muted">&nbsp;&nbsp;&nbsp;{{showNivelAcademico(estudio.nivelAcademicoId)}} |
                          {{estudio.institucion | titlecasefirstletter}}</small>
                      </div>
                      <br>
                    </ng-container>
  
                  </ng-container>
                  <ng-template #show_message_noEstudios>No hay estudios para mostrar</ng-template>
  
                </div>
                <!-- /TAB ESTUDIOS -->
  
                <!-- TAB ESTUDIOS COMPLEMENTARIOS -->
                <div class="tab-pane" [id]="i + 'tabEstudiosComplementarios'">
  
                  <ng-container
                    *ngIf="perfil.estudiosComplementarios?.length > 0; else show_message_noEstudiosComplementarios">
  
                    <ng-container *ngFor="let estudio of perfil.estudiosComplementarios">
                      <div>
                        <b class="font-weight-bold2">• {{estudio.titulo | titlecasefirstletter}}</b>
                        <br>
                        <small class="text-muted">&nbsp;&nbsp;&nbsp;{{showNivelAcademico(estudio.nivelAcademicoId)}} |
                          {{estudio.institucion | titlecasefirstletter}}</small>
                      </div>
                      <br>
                    </ng-container>
  
                  </ng-container>
                  <ng-template #show_message_noEstudiosComplementarios>No hay estudios complementarios para mostrar
                  </ng-template>
  
                </div>
                <!-- /TAB ESTUDIOS COMPLEMENTARIOS -->
  
              </div>
            </div>
          </div>
          <!-- /ESTUDIOS -->  
  
        </div>
  
      </div>
  
    </div>
  </div>

</ng-container>
<ng-template #other_user_disabled>
  <div class="text-center font-weight-bold">
    El usuario ya no existe :(
  </div>
  <br>
  <br>
</ng-template>
