table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-icon {
  cursor: pointer;
}

.mat-raised-button {
  width: 100%;
}





.mat-table .mat-cell, .mat-table .mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child {
  flex: 0 0 200px;
}

.mat-table .mat-cell:last-child, .mat-table .mat-header-cell:last-child {
  flex: 0 0 40px;
  text-align: center;
}


@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 5px 10px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    min-height: 0px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height: 30px;
    margin-bottom: 4%;
    min-height: initial;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    padding-left: 0px;
    margin-top: 4%;
  }
}
