<h1 mat-dialog-title>Detalle Usuario</h1>
<div mat-dialog-content>
  <div class="content">

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input type="text" matInput readonly value="{{data._id}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" matInput readonly value="{{data.username}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Rol</mat-label>
          <input type="text" matInput readonly value="{{data.rolDescripcion}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input type="text" matInput readonly value="{{data.estadoDescripcion}}">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Fecha ultima session</mat-label>
          <input type="text" matInput readonly value="{{data.fechaUltimaSession | date: 'dd-MM-yyyy hh:mm:ss'}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Versión términos y condiciones</mat-label>
          <input type="text" matInput readonly value="{{data.versionTerminosCondiciones}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Acepto recibir publicidad</mat-label>
          <input type="text" matInput readonly value="{{data.aceptoRecibirPublicidad}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Cambiar contraseña</mat-label>
          <input type="text" matInput readonly value="{{data.cambiarContrasena}}">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Código activación</mat-label>
          <input type="text" matInput readonly value="{{data.activationCode}}">
        </mat-form-field>
      </div>

    </div>

    <br>
    <h4 class="font-weight-bold text-primary">Datos Personales</h4>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Id tipo documento</mat-label>
          <input type="text" matInput readonly value="{{data.persona.tipoDocumentoId}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Número documento</mat-label>
          <input type="text" matInput readonly value="{{data.persona.numeroDocumento}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input type="text" matInput readonly value="{{data.persona.nombres}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput readonly value="{{data.persona.apellidos}}">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <input type="text" matInput readonly value="{{data.persona.sexo}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Fecha nacimiento</mat-label>
          <input type="text" matInput readonly value="{{data.persona.fechaNacimiento | date: 'dd-MM-yyyy'}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Estado civil</mat-label>
          <input type="text" matInput readonly value="{{data.persona.estadoCivil}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input type="text" matInput readonly value="{{data.persona.correo}}">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input type="text" matInput readonly value="{{data.persona.telefono}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Celular</mat-label>
          <input type="text" matInput readonly value="{{data.persona.celular}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input type="text" matInput readonly value="{{data.persona.direccion}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Id ciudad</mat-label>
          <input type="text" matInput readonly value="{{data.persona.ciudadId}}">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Código postal</mat-label>
          <input type="text" matInput readonly value="{{data.persona.codigoPostal}}">
        </mat-form-field>
      </div>

    </div>

    <br>
    <h4 class="font-weight-bold text-primary">Auditoría</h4>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Fecha creación</mat-label>
          <input type="text" matInput readonly value="{{data.fechaCreacion | date: 'dd-MM-yyyy hh:mm:ss'}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Usuario creación</mat-label>
          <input type="text" matInput readonly value="{{data.usuarioCreacion}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Fecha modificación</mat-label>
          <input type="text" matInput readonly value="{{data.fechaModificacion | date: 'dd-MM-yyyy hh:mm:ss'}}">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <mat-label>Usuario modificación</mat-label>
          <input type="text" matInput readonly value="{{data.usuarioModificacion}}">
        </mat-form-field>
      </div>

    </div>

    <br>
    <h4 class="font-weight-bold text-primary">Opciones</h4>

    <div class="row">

      <div class="col-sm-12 col-md-3">
        <button mat-flat-button color="primary" (click)="restablecerContrasena(data._id)">Restablecer Contraseña</button>
      </div>

    </div>

  </div>

  <br>

</div>
<div mat-dialog-actions align="end">  
  <button mat-raised-button (click)="onNoClick()">Cerrar</button>
</div>
