<form [formGroup]="form" class="form-estudios">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center font-weight-bold text-secondary">Usuarios</h3>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input type="text" matInput formControlName="id">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol">
              <mat-option value=""></mat-option>
              <mat-option value="1">Super Administrador</mat-option>
              <mat-option value="2">Administrador</mat-option>
              <mat-option value="3">Profesional</mat-option>
              <mat-option value="4">Paciente</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option value=""></mat-option>
              <mat-option value="1">Inactivo</mat-option>
              <mat-option value="2">Pendiente</mat-option>
              <mat-option value="3">En Validacion</mat-option>
              <mat-option value="4">Activo</mat-option>
              <mat-option value="5">Bloqueado</mat-option>
              <mat-option value="6">Eliminado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid" (click)="buscar()">Buscar</button>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="card-title text-secondary">Encontramos <strong>{{totalRegistros}} resultados</strong></h4>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-12">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="ID"> {{ element._id }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header> USERNAME </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="USERNAME"> {{ element.username }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="NOMBRE"> {{ element.persona.nombres }}
                {{ element.persona.apellidos }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="ESTADO" [ngStyle]="getColorEstado(element.estadoId)">
                {{ getEstado(element.estadoId) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rol">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ROL </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="ROL" [ngStyle]="getColorRol(element.rol)">
                {{ getRol(element.rol) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fechaUltimaSession">
              <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA ULTIMO LOGIN </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="FECHA ULTIMO LOGIN">
                {{ element.fechaUltimaSession | date: 'dd-MM-yyyy hh:mm:ss' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actionDetalle">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="DETALLE">
                <mat-icon (click)="verDetalle(element)">search</mat-icon>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

        </div>
      </div>

      <!-- PAGINADOR -->
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <app-pagination [totalPagesInput]="totalPages" [currentPage]="currentPage"
            (currentPageEvent)="getCurrentPage($event)"></app-pagination>
        </div>
      </div>
      <!-- /PAGINADOR -->
    </div>
  </div>
</form>
