.section {
    padding-top: 30px !important; 
    padding-bottom: 30px !important; 
}

.tmn-small{
   /* width: 50% !important; */
   width: 150px !important;
   height: 180px !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
   height: 30px !important;
}

.mr10{
    margin-right: 10px;
}