<ng-container *ngIf="!getIsHome()">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        Nuestro Equipo
      </li>
    </ol>
  </nav>
</ng-container>

<div class="text-center">
  <h2 class="title text-primary text-center title-degrade title-bold">Nuestro equipo de especialistas</h2>

  <ng-container *ngIf="!getIsHome()">
    <div class="container">
      <a class="mr10" [routerLink]="['/profesionales']" [ngClass]="{'font-weight-bold': !letterParam}"
        (click)="getProfesionalesByLetter(null)">Todos</a>
      <a *ngFor="let letter of letters;" class="mr10" [ngClass]="{'font-weight-bold': letterParam === letter}"
        [routerLink]="['/profesionales', letter]" (click)="getProfesionalesByLetter(letter)">{{letter}}</a>
    </div>
  </ng-container>

  <br>

  <div class="team">
    <div class="row">
      <div *ngFor="let profesional of profesionales;" class="col-md-4 col-sm-12">
        <div class="team-player">
          <a [routerLink]="['/profesionales/perfil', profesional.usuarioId]">
            <img src="{{routeFiles}}{{profesional.usuarioId}}.jpg" alt="Thumbnail Image"
              class="tmn-small rounded-squartle img-fluid img-raised">
          </a>
          <br>
          <br>
          <h5 class="card-category title-degrade title-bold">
            <a [routerLink]="['/profesionales/perfil', profesional.usuarioId]">
              <p style="text-transform: capitalize;">
                {{profesional.persona.nombres}}
              </p>
            </a>
          </h5>
          <h5 class="title category text-primary title-bold">
            <p style="text-transform: capitalize;">
              {{profesional.especialidadPrincipal ? profesional.especialidadPrincipal : 'Psicólogo Clínico'}}</p>
          </h5>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- PAGINADOR -->
<div *ngIf="!getIsHome()" class="row justify-content-center">
  <div class="col-12 text-center">
    <app-pagination [totalPagesInput]="totalPages" [currentPage]="currentPage"
      (currentPageEvent)="getCurrentPage($event)"></app-pagination>
  </div>
</div>
<!-- /PAGINADOR -->


<div *ngIf="getIsHome()" class="row justify-content-center">
  <div class="col-12 text-center">
    <a class="btn-principal" [routerLink]="['/profesionales']">Ver todos</a>
  </div>  
</div>
