<form [formGroup]="form">

  <!-- IDIOMAS -->
  <div class="row">
    <div class="col-12">

      <mat-form-field class="example-full-width has-label">
        <mat-select placeholder="Selecciona un idioma" formControlName="idiomas" [disabled]="idiomasNoRegistrados && idiomasNoRegistrados.length === 0">
          <mat-option (onSelectionChange)="addIdioma($event)" *ngFor="let idioma of idiomasNoRegistrados" [value]="idioma">
            {{idioma}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <!-- /IDIOMAS -->

  <!-- IDIOMAS SELECTED -->
  <div class="row">
    <div class="col-12">

      <mat-chip-list>
        <mat-chip *ngFor="let idioma of profesional.idiomas" color="primary" selected [removable]="true" (removed)="deleteIdioma(idioma)">
          {{idioma}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </div>
  </div>
  <!-- /IDIOMAS SELECTED -->

</form>
