// Bootstrap brand color customization


/*     brand Colors              */

// $brand-primary:              $purple-500 !default; 
$brand-primary:              $primary-woh !default;
$brand-secondary:            $secondary-woh !default;
$brand-tertiary:             $tertiary-woh !default;
$brand-quaternary:           $quaternary-woh !default;
$brand-quinary:              $quinary-woh !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
