<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          Nuestros Servicios
        </li>
      </ol>
    </nav>
  </div>
</div>
<br>
<div class="projects-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Nuestros servicios</h2>
        <h4 class="description">Estos servicios están pensados para brindarte una experiencia única y personalizada dentro de nuestra plataforma.</h4>
        <div class="section-space"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/our-services.jpg')">
          <div class="card-body">
            <br>
            <h2 class="card-title">Lo más <br> importante  eres tú</h2>
            <br>
            <p class="card-description"> Tenemos diferentes alternativas para que puedas comunicarte
              con nosotros. Queremos que tu privacidad sea lo mas importante de nuestra relación y para eso hemos
            creado estos servicios para ti. </p><br><label class="badge badge-neutral">Words of Hope</label>
          </div>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="info info-horizontal">
          <div class="icon icon-danger"><mat-icon class="mat-icon material-icons text-secondary">help_outline</mat-icon></div>
          <div class="description">
            <h4 class="info-title">Preguntas</h4>
            <p class="description"> Podrás realizar las preguntas que desees de forma anónima y en menos de 24 horas uno de nuestros psicólogos te estará respondiendo. </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-danger"><mat-icon class="mat-icon material-icons text-secondary">important_devices</mat-icon></div>
          <div class="description">
            <h4 class="info-title">Atención Online <small class="font-weight-bold text-secondary">(Próximamente)</small></h4>
            <p class="description"> Si necesitas ayuda inmediata puedes acceder a nuestro pool de psicológos y elegir al que más te guste y te atenderá inmediatamente.
              Nosotros te regalamos la primera sesión. </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-danger"><mat-icon class="mat-icon material-icons text-secondary">insert_invitation</mat-icon></div>
          <div class="description">
            <h4 class="info-title">Reservas <small class="font-weight-bold text-secondary">(Próximamente)</small></h4>
            <p class="description"> Puedes reservar tus próximas citas dependiendo de tus quehaceres. Nosotros nos acomodamos a tus necesidades </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
