.pd-24{
    padding-left: 24px;
    padding-right: 24px;
}

.mt-75{
    margin-top: 100px;
}

.mat-form-field-flex{
    background-color: rgba(255, 255, 255, 0.897);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    
}

.border-input-question {
    border: 2px solid #0081a7;
}

@media (max-height: 480px) {
    .text-resp {
      font-size: 1.25em !important;
      margin-left: auto;
      margin-right: auto;
    }
  }