<br>
<br>
<ng-container *ngIf="isHome; else other_not_home">
  <div>
    <div class="row justify-content-center">
      <h2 class="text-primary text-center title-degrade title-bold">
        Realiza tu pregunta totalmente gratis y de forma anónima
      </h2>
    </div>
    <div>
      <div>
        <div class="row">
          <div class="col-md-12 mr-auto ml-auto">
            <form class="form" method="" action="">
              <div class="form-group has-default">
                <div class="mr-auto ml-auto">
                  <div class="row justify-content-center align-items-end">
                    <!-- PREGUNTA -->
                    <div class="col-md-10 col-sm-12">
                      <mat-form-field class="mat-form-field-flex border-input-question">
                        <mat-label>Pregunta</mat-label>
                        <textarea matInput matTextareaAutosize matAutosizeMinRows="2" maxlength="300"
                          placeholder="Escribe tu pregunta acá..." value="{{pregunta}}" #searchBox
                          (keyup.enter)="preguntar(searchBox.value)" style="overflow: hidden;">
                        </textarea>
                        <mat-icon matSuffix *ngIf="isHome; else other_not_home" style="cursor: pointer;"
                          [routerLink]="!searchBox.value ? null : ['/preguntas/search', searchBox.value]">send
                        </mat-icon>
                        <mat-hint align="end">{{searchBox.value.length}} / 300</mat-hint>
                      </mat-form-field>
                    </div>
                    <!-- /PREGUNTA -->
                    <!-- BTN PREGUNTAR-->
                    <ng-template #other_not_home>
                      <div class="col-md-2 col-sm-12 ml-auto mr-auto text-center">
                        <button mat-icon-button color="primary" [routerLink]="['/preguntas/search', searchBox.value]"
                          routerLinkActive="active" [disabled]="!searchBox.value">
                          <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                        </button>
                      </div>
                    </ng-template>
                    <!-- /BTN PREGUNTAR-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</ng-container>


<ng-template #other_not_home>

  <div class="row justify-content-center">

    <!-- PREGUNTA -->
    <div class="col-sm-12 col-md-10">
      <mat-form-field class="example-full-width has-label">
        <input type="text" matInput id="nombres" placeholder="Pregunta" value="{{pregunta}}" #searchBox
          (keyup.enter)="preguntar(searchBox.value)">
      </mat-form-field>
    </div>
    <!-- /PREGUNTA -->

    <!-- BTN PREGUNTAR-->
    <div class="col-sm-12 col-md-1 text-center">
      <ng-container *ngIf="isHome; else other_not_home">
        <button mat-flat-button class="btn btn-link btn-primary" (click)="preguntar(searchBox.value)"
          routerLinkActive="active" [disabled]="!isValidQuestion(searchBox.value)">PREGUNTAR</button>
      </ng-container>
      <ng-template #other_not_home>
        <button mat-icon-button color="primary" (click)="preguntar(searchBox.value)" routerLinkActive="active"
          [disabled]="!isValidQuestion(searchBox.value)">
          <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
        </button>
      </ng-template>
    </div>
    <!-- /BTN PREGUNTAR-->

  </div>
</ng-template>
