<h1 mat-dialog-title>Detalle Log</h1>
<div mat-dialog-content>
  <div class="content">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="Fecha" value="{{data.fecha | date: 'dd-MM-yyyy hh:mm:ss'}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="Tipo" value="{{data.tipo}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="Level" value="{{data.level}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="RequestId" value="{{data.requestId}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="AppId" value="{{data.appId}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field>
          <input matInput readonly placeholder="Username" value="{{data.username}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-2">
        <mat-form-field>
          <input matInput readonly placeholder="statusCode" value="{{data.statusCode}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-2">
        <mat-form-field>
          <input matInput readonly placeholder="IpCliente" value="{{data.ipCliente}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-2">
        <mat-form-field>
          <input matInput readonly placeholder="IpServidor" value="{{data.ipServidor}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">
        <mat-form-field>
          <input matInput readonly placeholder="Metodo" value="{{data.metodo}}">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-10">
        <mat-form-field>
          <input matInput readonly placeholder="Uri" value="{{data.uri}}">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.message" class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field>
          <textarea matInput readonly matTextareaAutosize placeholder="Mensaje" value="{{data.message}}"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.comentario" class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field>
          <textarea matInput readonly matTextareaAutosize placeholder="Comentario" value="{{data.comentario}}"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field>
          <textarea matInput readonly matTextareaAutosize placeholder="Body" [value]="data.body | json"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.location" class="row">
      <div class="col-sm-12 col-md-12">
        <mat-form-field>
          <textarea matInput readonly matTextareaAutosize placeholder="Ubicación" [value]="data.location | json"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>
