<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-12 text-center">

        <ng-container *ngIf="urlValida; else other_template_url_invalida">
          <h5 class="text-primary">Usuario activado con éxito</h5>
          <hr>
          <app-nuestros-servicios></app-nuestros-servicios>
        </ng-container>
        <ng-template #other_template_url_invalida>
          <h5 style="color: red" class="font-weight-bold">La url es invalida o ha caducado</h5>
          <i class="material-icons text-secondary2" style="font-size: 90px; color: red">sentiment_very_dissatisfied</i>
          <br>
        </ng-template>

        <hr>

        <button mat-raised-button class="btn btn-primary" [routerLink]="['/home']">Volver a Inicio</button>

      </div>
    </div>

  </div>
</div>
