<div class="row" *ngIf="showButtonActualizar">
  <div class="col-12">
    <a [routerLink]="" class="text-primary font-weight-bold" (click)="actualizarPreguntas()">
      <mat-icon>autorenew</mat-icon> Actualizar
    </a>
  </div>
</div>

<!-- PREGUNTAS -->
<div class="row" *ngIf="preguntas && preguntas.length > 0">
  <!-- pregunta: {{preguntas[0] | json}} -->
  <div class="col-12 text-justify">

    <div *ngFor="let pregunta of preguntas" class="card mb-3 question-card">
      <div class="card-body">

        <a [routerLink]="['/preguntas/detail', pregunta._id]">
          <h4 class="txt-primary font-weight-bold">{{pregunta.pregunta}}</h4>
        </a>

        <p class="card-text">
          <ng-container *ngIf="pregunta.categoriaNombre">
            <small class="text-muted font-weight-bold">{{pregunta.categoriaNombre | titlecasefirstletter}}</small>
            <br>
          </ng-container>
          <ng-container *ngIf="pregunta.edad > 10; else other_container_menor_10">
            <small class="text-muted font-weight-bold">Preguntado por {{pregunta.genero}} de {{pregunta.edad}}
              años</small>
          </ng-container>
          <ng-template #other_container_menor_10>
            <small class="text-muted font-weight-bold">Preguntado por {{pregunta.genero}} menor de 10 años</small>
          </ng-template>
        </p>

        <ng-container *ngIf="pregunta.respuestas && pregunta.respuestas.length > 0">
          <p class="text-muted font-weight-bold">Respondió:</p>

          <!-- FOTO -->
          <div class="row">
            <div class="col-12">

              <div class="user">
                <div class="photo">
                  <img src="{{routeFiles}}{{pregunta.respuestas[0].usuarioId}}.jpg">
                </div>
                <div class="user-info">
                  <a [routerLink]="['/profesionales/perfil', pregunta.respuestas[0].usuarioId]">
                    <span class="text-capitalize font-weight-bold">{{pregunta.respuestas[0].persona.nombres |
                      titlecase}}
                      {{pregunta.respuestas[0].persona.apellidos | titlecase}}</span>
                  </a>
                  <!-- <p class="card-text"><small class="text-muted">xxxxxxxxx</small></p> -->
                  <p class="card-text"><small class="text-muted">Psicólogo Clínico</small></p>
                </div>
              </div>

            </div>
          </div>
          <!-- FOTO -->

          <p class="card-text">{{cortarTexto(pregunta.respuestas[0].respuesta)}}</p>
        </ng-container>

        <div class="row">
          <div class="col-6 text-left">
            <small class="text-muted font-weight-bold">{{pregunta.visitas}} visitas</small>
          </div>
          <div class="col-6 text-right">
            <a [routerLink]="['/preguntas/detail', pregunta._id]" class="font-weight-bold">(ver más)</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- /PREGUNTAS -->

<!-- PAGINADOR -->
<div class="row justify-content-center">
  <div class="col-12 text-center">
    <app-pagination [totalPagesInput]="totalPages" [currentPage]="currentPage"
      (currentPageEvent)="getCurrentPage($event)"></app-pagination>
  </div>
</div>
<!-- /PAGINADOR -->
