<form [formGroup]="form">

  <!-- ESPECIALIDADES -->
  <div class="row">
    <div class="col-12">

      <mat-form-field class="example-full-width has-label">
        <mat-select id="especialidades" placeholder="Especialidades" formControlName="especialidades">
          <mat-option (onSelectionChange)="addEspecialidad($event)" *ngFor="let especialidad of especialidadesNoRegistradas" [value]="especialidad.descripcion">
            {{especialidad.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <!-- /ESPECIALIDADES -->

  <!-- ESPECIALIDADES SELECTED -->
  <div class="row">
    <div class="col-12">

      <mat-chip-list>
        <mat-chip *ngFor="let especialidad of perfil.especialidades" color="primary" selected [removable]="true" (removed)="deleteEspecialidad(especialidad)">
          {{especialidad}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </div>
  </div>
  <!-- /ESPECIALIDADES SELECTED -->

</form>
