    <h3 class="text-center font-weight-bold text-secondary">Reportes</h3>

    <br>

    <div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Total Registros: {{totalRegistros}}</h5>

            <div class="row">
              <div class="col-12">
                <strong>Pacientes registrados Activos:</strong> {{totalUsuariosPacientesActivos}}
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <strong>Pacientes registrados Inactivos:</strong> {{totalUsuariosPacientesInactivos}}
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <strong>Psicólogo registrados:</strong> {{totalUsuariosProfesionales}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Total Preguntas: {{totalPreguntas}}</h5>

            <div class="row">
              <div class="col-12">
                <strong>Preguntas con respuesta:</strong> {{preguntasConRespuesta}}
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <strong>Preguntas sin respuestas:</strong> {{preguntasSinRespuesta}}
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <br>

    <div class="row">

      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="row">

              <div class="col-6">
                <mat-form-field class="example-full-width has-label">
                  <mat-label>Año</mat-label>
                  <mat-select id="years" [(ngModel)]="yearSelected" #ctrl="ngModel">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{ year }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-6">
                <button mat-flat-button class="btn btn-primary mat-raised-button"
                  (click)="getPreguntasAndRespuestasByYear()">Generar</button>
              </div>

            </div>

            <br>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">...</th>
                    <th scope="col">Enero</th>
                    <th scope="col">Febrero</th>
                    <th scope="col">Marzo</th>
                    <th scope="col">Abril</th>
                    <th scope="col">Mayo</th>
                    <th scope="col">Junio</th>
                    <th scope="col">Julio</th>
                    <th scope="col">Agosto</th>
                    <th scope="col">Septiembre</th>
                    <th scope="col">Octubre</th>
                    <th scope="col">Noviembre</th>
                    <th scope="col">Diciembre</th>
                    <th scope="col"><strong>Total</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Preguntas:</th>
                    <td *ngFor="let obj of perguntasAndRespuestasByYear">{{ obj.preguntas }}</td>
                  <th scope="row">{{totalPerguntasByYear}}</th>
                </tr>
                <tr>
                  <th scope="row">Respuestas:</th>
                  <td *ngFor="let obj of perguntasAndRespuestasByYear">{{ obj.respuestas }}</td>
                  <th scope="row">{{totalRespuestasByYear}}</th>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
