.link-categoria {
    color: white;
    font-size: 15px;
    vertical-align: middle;
}

a.link-categoria:focus, a.link-categoria:hover {
    color: #Faff00 ;
    text-decoration: none;
}

#columnMobile {
    display: none;
}


@media (max-width: 599px) {
    #columnMobile {
        display: block;
    }
    #columnOne {
        display: none;
    }
    #columnTwo {
        display: none;
    }    
  }