<div class="row">
  <div class="col-12">
    <nav *ngIf="showBreadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item" [ngClass]="{'active' : categoriasSelect.length === 0}">
          <ng-container *ngIf="categoriasSelect.length > 0; else other_breadcrumb_item">
            <a [routerLink]="" (click)="selected = categoriaTodas; getCategorias()" class="font-weight-bold">Todas las
              categorías</a>
          </ng-container>
          <ng-template #other_breadcrumb_item>
            Todas las categorías
          </ng-template>
        </li>
        <li *ngFor="let categoria of categoriasSelect; let i = index" class="breadcrumb-item"
          [ngClass]="{'active' : categoriasSelect.length === i+1}">
          <ng-container *ngIf="categoriasSelect.length !== i+1; else other_breadcrumb_item">
            <a [routerLink]="" (click)="selected = categoria; getCategorias(categoria.id)"
              class="font-weight-bold">{{categoria.descripcion | titlecasefirstletter}}</a>
          </ng-container>
          <ng-template #other_breadcrumb_item>
            {{categoria.descripcion | titlecasefirstletter}}
          </ng-template>
        </li>
      </ol>
    </nav>
    <div class="row bg-list-categories">
      <ng-container style="background-color: red" *ngFor="let categoria of categorias; let i = index">
        <div id="columnOne" *ngIf="i % 2 === 0" class="col-sm-12 col-md-6 card-list-categories-left cat-rsp">
          <a [routerLink]="" class="link-categoria" (click)="onSelectCategoria(categoria)"><img
              src="../../../../assets/img/vector.png" style="margin-right: 5px" />
            {{categoria.descripcion | titlecasefirstletter}}</a>
        </div>
        <div id="columnTwo" *ngIf="i % 2 === 1" class="col-sm-12 col-md-6 card-list-categories-right cat-rsp"
          style="text-align: right">
          <a [routerLink]="" class="link-categoria" (click)="onSelectCategoria(categoria)">
            {{categoria.descripcion | titlecasefirstletter}} <img src="../../../../assets/img/vector.png"
              style="margin-right: 5px" /></a>
        </div>
        <div id="columnMobile" class="col-sm-12 col-md-6 card-list-categories-left cat-rsp">
          <a [routerLink]="" class="link-categoria" (click)="onSelectCategoria(categoria)"><img
              src="../../../../assets/img/vector.png" style="margin-right: 5px" />
            {{categoria.descripcion | titlecasefirstletter}}</a>
        </div>
      </ng-container>

      <div *ngIf="showCategoriaOtro && categoriasSelect.length === 0"
        class="col-sm-12 col-md-6 card-list-categories-left">
        <a [routerLink]="" class="link-categoria" (click)="onSelectCategoria(categoriaOtro)"><img
            src="../../../../assets/img/vector.png" style="margin-right: 5px" />
          {{ categoriaOtro.descripcion | titlecasefirstletter}}</a>
      </div>
    </div>

    <!-- </div>
      </div> -->

  </div>
</div>

