<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center font-weight-bold text-primary">Olvidé mi Contraseña</h3>
    <br>
    <form [formGroup]="form" class="form-datos-persona">
      <div class="row justify-content-center">
        <div class="col-md-12 mr-auto">
          <h4 class="font-weight-bold text-black text-center">Para nosotros es muy importante tu seguridad.
            <br>Escribe tu correo que tienes registrado con nosotros y ahí te estaremos enviando los pasos
            a seguir. <br>Gracias.</h4>
          <br>
          <div class="row justify-content-center">
            <!-- EMAIL -->
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>* Email</mat-label>
                <input type="email" matInput id="email" formControlName="email"
                  placeholder="Ingrese su correo electrónico">
                <mat-icon matSuffix>mail</mat-icon>
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.email)"
                  [errorMsg]="getFieldError(form.controls.email)"></app-field-error-display>
              </mat-form-field>
            </div>
            <!-- EMAIL -->
          </div>
        </div>
        <div class="row justify-content-center">
          <br>
          <div class="col-12 text-right">
            <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid"
              (click)="enviarInstrucciones()">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
