<mat-sidenav-container fullscreen class="alternate-theme">

  <!-- VERTICAL MENU LEFT -->
  <mat-sidenav *ngIf="loggedIn && rol <= 2" mode="push" class="app-sidenav" #menuLeft position="start">

    <mat-toolbar color="warn">
      <span class="fill-space"></span>
      <button mat-icon-button (click)="openCloseMenuLeft()" class="mat-icon-button sidenav-toggle-button-left"
        [hidden]="!menuLeft.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <h2 mat-subheader>Menú Administrador</h2>
      <h3 mat-subheader>Administrador</h3>
      <a mat-list-item class="sidenav-link" *ngIf="rol === 1" [routerLink]="['/admin/usuarios']"
        (click)="menuLeft.toggle()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span class="title" mat-line>Usuarios</span>
      </a>
      <a mat-list-item class="sidenav-link" *ngIf="rol <= 2" [routerLink]="['/admin/reports']"
        (click)="menuLeft.toggle()">
        <mat-icon mat-list-icon>insert_chart_outlined</mat-icon>
        <span class="title" mat-line>Reportes</span>
      </a>
      <a mat-list-item class="sidenav-link" *ngIf="rol === 1" [routerLink]="['/admin/logs']"
        (click)="menuLeft.toggle()">
        <mat-icon mat-list-icon>description</mat-icon>
        <span class="title" mat-line>Trace</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <!-- /VERTICAL MENU LEFT -->

  <!-- VERTICAL MENU RIGHT -->
  <mat-sidenav mode="push" class="app-sidenav" #menuRight position="end">

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="subirScroll(); menuRight.toggle()" class="mat-icon-button sidenav-toggle-button"
        [hidden]="!menuRight.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>

      <ng-container *ngIf="loggedIn; else other_logged_not">

        <div class="row justify-content-center">
          <div class="col-4 text-center">
            <div class="user">
              <div class="photo">
                <img src="{{srcImgPerfil}}">
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center text-center">
          <div class="col-12 text-center">
            <p *ngIf="persona" style="font-size: 14px; color: rgba(0,0,0,.54); font-weight: 500;">{{ persona.nombres |
              titlecase }} {{persona.apellidos | titlecase }}</p>
          </div>
        </div>

      </ng-container>
      <ng-template #other_logged_not>
        <h2 mat-subheader>Menú</h2>
      </ng-template>

      <a mat-list-item class="sidenav-link" [routerLink]="['/home']" (click)="menuRight.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="title" mat-line>INICIO</span>
      </a>

      <a *ngIf="!loggedIn" mat-list-item class="sidenav-link" [routerLink]="" data-toggle="modal"
        data-target="#modalLogin" (click)="menuRight.toggle()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span class="title" mat-line>INICIA SESIÓN <br>O REGÍSTRATE</span>
      </a>

      <!-- USUARIO LOGUEADO -->
      <ng-container *ngIf="loggedIn">

        <!-- <mat-divider></mat-divider> -->

        <a mat-list-item class="sidenav-link" [routerLink]="['/usuario/perfil']" (click)="menuRight.toggle()">
          <mat-icon mat-list-icon>account_box</mat-icon>
          <span class="title" mat-line>Perfil</span>
        </a>

        <a mat-list-item class="sidenav-link" [routerLink]="['/preguntas/mis-preguntas']" (click)="menuRight.toggle()">
          <mat-icon mat-list-icon>help_outline</mat-icon>
          <span class="title" mat-line>Mis preguntas</span>
        </a>

        <a mat-list-item *ngIf="rol <= 3" class="sidenav-link" [routerLink]="['/preguntas/search']"
          (click)="menuRight.toggle()">
          <mat-icon mat-list-icon>help</mat-icon>
          <span class="title" mat-line>Preguntas sin respuestas</span>
        </a>

        <a mat-list-item class="sidenav-link" [routerLink]="" (click)="menuRight.toggle(); logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <span class="title" mat-line>Cerrar sesión</span>
        </a>
      </ng-container>
      <!-- /USUARIO LOGUEADO -->
    </mat-nav-list>

  </mat-sidenav>
  <!-- /VERTICAL MENU RIGHT -->

  <!-- MENU TOOLBAR -->
  <mat-toolbar id="appToolbar" class="static-menu" color="accent" [ngStyle]="{'background': isHome ? 'white': 'linear-gradient(to right, #00afb9 0%, #0081a7 100%)'}">
    <button *ngIf="loggedIn && rol <= 2" mat-icon-button (click)="openCloseMenuLeft()"
      class="mat-icon-button sidenav-toggle-button">
      <mat-icon aria-label="Menu" class="material-icons">menu left</mat-icon>
    </button>
    <div class="d-md-block container-logo">
      <a href="/"><img src="./assets/img/logo-new.png"></a>
    </div>

    <span class="fill-space"></span>

    <!-- NAV ITEMS RIGHT-->
    <div class="d-none d-md-block">
      <button *ngIf="!isHome" mat-button [routerLink]="['/home']" class="menu-toolbar">INICIO</button>
      <button *ngIf="!loggedIn" mat-button data-toggle="modal" data-target="#modalLogin" class="menu-toolbar">INICIAR
        SESIÓN</button>
      <button *ngIf="!loggedIn" mat-button [routerLink]="['/registro/paciente']"
        class="menu-toolbar without-border-right">REGÍSTRATE</button>

      <button mat-flat-button color="light" class="menu-toolbar-last btn-cta" data-toggle="modal"
        data-target="#modalPreguntar">
        <h6 class="principal-degrade text-menu">PREGUNTAR</h6>
      </button>

      <!-- PROFILE -->
      <button *ngIf="loggedIn" mat-mini-fab [matMenuTriggerFor]="menuProfile" class="menu-toolbar-last btn-cta"
        style="background-size: cover; box-shadow: none; border: 1px solid #f2f2f2;"
        [style.backgroundImage]="'url('+srcImgPerfil+')'"></button>
      <mat-menu #menuProfile="matMenu">
        <button *ngIf="persona" mat-menu-item disabled>
          <span>{{ persona.nombres | titlecase }} {{persona.apellidos | titlecase }}</span>
        </button>
        <!-- <mat-divider></mat-divider> -->

        <button mat-menu-item [routerLink]="['/usuario/perfil']">
          <mat-icon>account_box</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item [routerLink]="['/preguntas/mis-preguntas']">
          <mat-icon>help_outline</mat-icon>
          <span>Mis preguntas</span>
        </button>
        <button mat-menu-item *ngIf="rol <= 3" [routerLink]="['/preguntas/search']">
          <mat-icon>help</mat-icon>
          <span>Preguntas sin respuestas</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
      <!-- /PROFILE -->

    </div>

    <button mat-icon-button (click)="menuRight.toggle()" class="mat-icon-button sidenav-toggle-button d-block d-sm-none"
      [hidden]="menuRight.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu right</mat-icon>
    </button>
    <!-- /NAV ITEMS RIGHT -->


  </mat-toolbar>
  <!-- /MENU TOOLBAR -->

  <!-- ***** CONTENT ***** -->

  <!--<span style="margin-top: 65px; display: block"></span>-->

  <!-- IMG HOME -->
  <section *ngIf="isHome">

    <!--Carousel Wrapper-->
    <div id="homeSectionPreguntar" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100 img500" src="assets/img/bg-principal-slide.jpg">
          </div>
          <div class="carousel-caption">
            <div class="row">
              <div class="col-md-6 col-sm-12 mr-auto ml-auto text-align-center">
                <h2 class="sentence-slide">Somos un equipo <br>
                  de <span class="text-complementary">profesionales. 
                    <br>Nuestro propósito</span>
                    <br> es <span class="text-complementary">tu bienestar</span> y acompañarte 
                    <br> a alcanzar <span class="text-complementary">tu máximo potencial.</span></h2>
              </div>

              <div class="col-md-4 col-sm-12 mr-auto ml-auto">
                <app-agendar-cita></app-agendar-cita>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->

  </section>
  <!-- /IMG HOME -->

  <!-- CONTENT PAGE -->
  <div class="container" [ngStyle]="{'margin-top': isHome ? '0' : '64px' }">
    <br>
    <router-outlet></router-outlet>
  </div>

  <br>

  <app-footer [loggedIn]="loggedIn"></app-footer>
  <!-- /CONTENT PAGE -->

  <!-- ***** /CONTENT ***** -->

</mat-sidenav-container>

<!-- LOGIN -->
<app-login *ngIf="!loggedIn"></app-login>
<!-- /LOGIN -->

<app-preguntar></app-preguntar>

<span *ngIf="showLoader" class="loading"></span>
