<form *ngIf="form" [formGroup]="form">
  <div class="row justify-content-center">
    <!-- FOTO -->
    <div class="col-sm-12 col-md-3">
      <div class="picture-container">
        <div class="picture">
          <img *ngIf="!usuarioId; else foto_logueado" src="./assets/img/avatar-user-default.png" class="picture-src" id="wizardPicturePreview" title="" />
          <ng-template #foto_logueado>
              <img src="{{srcImgPerfil}}" class="picture-src" id="wizardPicturePreview"/>
          </ng-template>
          <input type="file" id="imagenPerfil" name="uploadfile" (change)="selectProfileImage($event)" accept="image/*">
        </div>
        <h6 class="description">Seleccionar</h6>
      </div>
    </div>
    <!-- /FOTO -->

    <!-- DATOS USUARIO -->
    <div class="col-sm-12 col-md-7">

      <div class="row">

        <!-- EMAIL -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="example-full-width">
            <mat-label>* Email</mat-label>
            <input type="email" matInput id="email" formControlName="email" placeholder="Ingrese su correo electrónico"
              [readonly]="usuarioId">
            <mat-icon matSuffix>mail</mat-icon>
            <app-field-error-display [displayError]="isFieldInvalid(form.controls.email)"
              [errorMsg]="getFieldError(form.controls.email)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- <div class="col-sm-12 col-md-6" *ngIf="!usuarioId">
          <button mat-stroked-button class="btn btn-outline-primary" [disabled]="form.controls.email.errors" (click)="validateUsername()">Validar
            Correo</button>
        </div> -->
        <!-- /EMAIL -->

      </div>

      <div class="row">

        <!-- OLD CONTRASENA -->
        <div class="col-sm-12 col-md-6" *ngIf="usuarioId">
          <mat-form-field class="example-full-width has-label">
            <mat-label>* Contraseña anterior</mat-label>
            <input matInput type="password" id="oldPassword" formControlName="oldPassword"
              placeholder="Ingrese la contraseña anterior">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <app-field-error-display [displayError]="isFieldInvalid(form.controls.oldPassword)"
              [errorMsg]="getFieldError(form.controls.oldPassword)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /OLD CONTRASENA -->

        <!-- CONTRASENA -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="example-full-width has-label">
            <mat-label>* {{usuarioId ? 'Contraseña nueva': 'Contraseña'}}</mat-label>
            <input matInput type="password" id="password" formControlName="password"
              placeholder="{{usuarioId ? 'Ingrese la contraseña nueva': 'Ingrese la contraseña'}}">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <app-field-error-display [displayError]="isFieldInvalid(form.controls.password)"
              [errorMsg]="getFieldError(form.controls.password, 'password')"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /CONTRASENA -->

        <!-- CONFIRMAR CONTRASENA -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="example-full-width has-label">
            <mat-label>* {{usuarioId ? 'Confirmar contraseña nueva': 'Confirmar contraseña'}}</mat-label>
            <input matInput type="password" id="confirmPassword" formControlName="confirmPassword"
              placeholder="{{usuarioId ? 'Repita la contraseña nueva': 'Repita la contraseña'}}">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <app-field-error-display [displayError]="isFieldInvalid(form.controls.confirmPassword)"
              [errorMsg]="getFieldError(form.controls.confirmPassword, 'password')"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /CONFIRMAR CONTRASENA -->

        <div class="col-sm-12 col-md-6" *ngIf="usuarioId">
          <button mat-stroked-button class="btn btn-outline-primary"
            [disabled]="form.controls.oldPassword.errors || form.controls.password.errors || form.controls.confirmPassword.errors"
            (click)="cambiarPassword()">Cambiar Contraseña</button>
        </div>

      </div>

      <div *ngIf="!usuarioId" class="row">

        <!-- CHECK RECIBIR PUBLICIDAD -->
        <div class="col-12">
          <mat-checkbox color="warn" name="aceptoRecibirPublicidad" formControlName="aceptoRecibirPublicidad">Acepto recibir publicidad o información promocional de WORDS OF HOPE</mat-checkbox>
        </div>
        <!-- /CHECK RECIBIR PUBLICIDAD -->

        <!-- CHECK TYC -->
        <div class="col-12">
          <mat-checkbox color="warn" name="aceptoTerminosCondiciones" formControlName="aceptoTerminosCondiciones">Acepto los <a class="text-primary" (click)="openDialogTerminosYCondiciones()">términos y condiciones</a></mat-checkbox>
        </div>
        <!-- /CHECK TYC -->
      </div>
    </div>
    <!-- /DATOS USUARIO -->
  </div>
  <br>
</form>
