.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 106px;
    height: 106px;
    background-color: #999;
    border: 4px solid #ccc;
    color: #fff;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: .2s;
    -webkit-transition: .2s;
}

.picture:hover {
    border-color: #e91e63;
}

.picture input[type=file] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0!important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;
    height: 110%;
}

.description {
    color: #999;
    font-size: 14px;
}