<!-- MIGA DE PAN -->
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding: 0.25rem 1rem;">
        <li class="breadcrumb-item">
          <a [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/preguntas/search', preguntaTemp]">Preguntas</a>
        </li>
        <li class="breadcrumb-item">Nueva Pregunta</li>
      </ol>
    </nav>
  </div>
</div>
<!-- /MIGA DE PAN -->

<form [formGroup]="form">
  <div class="card ">
    <div class="card-header card-header-primary card-header-icon">
      <div class="card-icon">
        <i class="material-icons">add</i>
      </div>
      <h4 class="card-title font-weight-bold">NUEVA PREGUNTA</h4>
    </div>

    <div class="card-body">

      <br>

      <!-- PREGUNTA -->
      <div class="row">
        <div class="col-12">
          <mat-form-field>
              <!-- <mat-icon matPrefix>help</mat-icon> -->
              <!-- <span matPrefix matTooltip="Info about the action"><mat-icon matSuffix >help_outline</mat-icon>&nbsp;</span> -->            
            <textarea matInput matTextareaAutosize maxlength="300" #pregunta formControlName="pregunta" placeholder="*Pregunta"></textarea>
            <mat-hint align="end">{{form.value.pregunta.length}} / 300</mat-hint>
            <app-field-error-display [displayError]="isFieldInvalid(form.controls.pregunta)" [errorMsg]="getFieldError(form.controls.pregunta)"></app-field-error-display>
          </mat-form-field>
        </div>
      </div>
      <!-- /PREGUNTA -->

      <br>

      <!-- INFORMACION ADICIONAL -->
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" maxlength="1000" formControlName="informacionAdicional"
              placeholder="Información adicional"></textarea>
            <mat-hint align="start">En que más precisa sea la información más posibilidades tienes que la respuesta sea
              más acertada.</mat-hint>
            <mat-hint align="end">{{form.value.informacionAdicional.length}} / 1000</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <!-- /INFORMACION ADICIONAL -->

      <br>

      <ng-container *ngIf="!loggedIn">

        <div class="row">

          <!-- EMAIL -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field class="example-full-width has-label">
              <input type="email" matInput id="email" formControlName="email" placeholder="{{ isRequired(form.controls.email) ? '* ' : '' }} Email">
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.email)" [errorMsg]="getFieldError(form.controls.email)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /EMAIL -->

          <!-- SEXO -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <mat-select id="sexo" formControlName="sexo" placeholder="{{ isRequired(form.controls.sexo) ? '* ' : '' }} Sexo">
                <mat-option value=""></mat-option>
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="NaN">Sin especificar</mat-option>
              </mat-select>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.sexo)" [errorMsg]="getFieldError(form.controls.sexo)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /SEXO -->

          <!-- FECHA NACIMIENTO -->
          <div class="col-sm-12 col-md-4">
            <mat-form-field>
              <input matInput readonly id="fechaNacimiento" formControlName="fechaNacimiento" [matDatepicker]="picker"
                placeholder="{{ isRequired(form.controls.fechaNacimiento) ? '* ' : '' }} Fecha de nacimiento" [max]="fechaMinimaPregunta" (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <app-field-error-display [displayError]="isFieldInvalid(form.controls.fechaNacimiento)" [errorMsg]="getFieldError(form.controls.fechaNacimiento)"></app-field-error-display>
            </mat-form-field>
          </div>
          <!-- /FECHA NACIMIENTO -->

        </div>

      </ng-container>

      <hr>

    </div>

    <div class="card-footer text-right">
      <button mat-raised-button class="btn" (click)="goBack()">Volver</button>
      <button mat-raised-button class="btn btn-primary" (click)="preguntar()" [disabled]="!isValidQuestion(form.value.pregunta) || !form.valid">Preguntar</button>
    </div>

  </div>

</form>
