.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  /* background-color: #489CA2; */
  background-color: #e91e63;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  cursor: not-allowed;
}

.pagination>li {
  display: inline;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  text-decoration: none;
  border: 0;
  border-radius: 30px !important;
  transition: all .3s;
  padding: 0px 11px;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #777;
  font-weight: 400;
  font-size: 15px;
  /* text-transform: uppercase; */
  background: transparent;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #999999;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.disabled:hover,
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  color: #a2a2a2;
  background-color: #fff;
  border-color: #ddd;
}