<form [formGroup]="form" class="form-estudios">

  <br>

  <div class="row">

    <!-- BTN AGREGAR ESTUDIO-->
    <div class="col-12">
      <a [routerLink]="" class="text-success" (click)="addNewRow(formArrayEstudios)">
        <mat-icon>add_circle</mat-icon> Agregar Estudio
      </a>
    </div>
    <!-- /BTN AGREGAR ESTUDIO-->
  </div>

  <br>

  <mat-accordion *ngIf="perfilId" formArrayName="estudios">
    <mat-expansion-panel *ngFor="let itemRowEstudio of form.controls.estudios.controls; let i=index" [expanded]="currentAccordion === i"
      (opened)="accordionState = true; setCurrentAccordion(i)" (closed)="accordionState = false" class="mat-elevation-z0 accordion-no-border"
      [formGroupName]="i">

      <!-- itemRowEstudio.invalid: {{itemRowEstudio.invalid}}
      <br>
      itemRowEstudio.valid: {{itemRowEstudio.valid}} -->
      <!-- {{getFieldError(itemRowEstudio.controls.institucion)}} -->

      
      <br>

      <mat-expansion-panel-header>
        <mat-panel-title class="text-secondary font-weight-bold2" [ngClass]="accordionState && currentAccordion === i ? 'border-botton' : null">
            <ng-container *ngIf="itemRowEstudio.value.institucion && itemRowEstudio.value.titulo; else other_estudio_title">
                {{itemRowEstudio.value.institucion}} - {{itemRowEstudio.value.titulo}}                
              </ng-container>
              <ng-template #other_estudio_title>
                NUEVO ESTUDIO
              </ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">

        <!-- INSTITUCION -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowEstudio.controls.institucion) ? '* ' : '' }} Institución</mat-label>
            <input type="text" matInput formControlName="institucion" placeholder="Nombre de la institución">
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.institucion)" [errorMsg]="getFieldError(itemRowEstudio.controls.institucion)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /INSTITUCION -->

        <!-- NIVEL ACADEMICO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowEstudio.controls.nivelAcademico) ? '* ' : '' }} Nivel académico</mat-label>
            <mat-select formControlName="nivelAcademico" placeholder="Seleccione un nivel académico" (selectionChange)="nivelAcademicoChange(itemRowEstudio)">
              <mat-option *ngFor="let nivelAcademico of nivelesAcademicos" [value]="nivelAcademico.id">
                {{ nivelAcademico.descripcion }}
              </mat-option>
            </mat-select>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.nivelAcademico)" [errorMsg]="getFieldError(itemRowEstudio.controls.nivelAcademico)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /NIVEL ACADEMICO -->

      </div>

      <div class="row">

        <!-- TITULO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowEstudio.controls.titulo) ? '* ' : '' }} Título obtenido</mat-label>
            <input type="text" matInput formControlName="titulo" placeholder="Nombre del título obtenido">
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.titulo)" [errorMsg]="getFieldError(itemRowEstudio.controls.titulo)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /TITULO -->

        <!-- ESTADO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowEstudio.controls.estado) ? '* ' : '' }} Estado</mat-label>
            <mat-select formControlName="estado" placeholder="Seleccione un estado" (selectionChange)="estadoChange(itemRowEstudio)">
              <mat-option value="CULMINADO">CULMINADO</mat-option>
              <mat-option value="PENDIENTE">PENDIENTE</mat-option>
            </mat-select>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.estado)" [errorMsg]="getFieldError(itemRowEstudio.controls.estado)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /ESTADO -->

      </div>

      <div class="row">

        <!-- FECHA INICIO -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field>
            <mat-label>{{ isRequired(itemRowEstudio.controls.fechaInicio) ? '* ' : '' }} Fecha de inicio</mat-label>
            <input matInput formControlName="fechaInicio" [matDatepicker]="pickerI" placeholder="Seleccione la fecha de inicio"
              (click)="pickerI.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
            <mat-datepicker #pickerI></mat-datepicker>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.fechaInicio)" [errorMsg]="getFieldError(itemRowEstudio.controls.fechaInicio)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /FECHA INICIO -->

        <!-- FECHA FIN -->
        <div *ngIf="isRequired(itemRowEstudio.controls.fechaFin)" class="col-sm-12 col-md-6">
          <mat-form-field>
            <mat-label>{{ isRequired(itemRowEstudio.controls.fechaFin) ? '* ' : '' }} Fecha de terminación</mat-label>
            <input matInput formControlName="fechaFin" [matDatepicker]="pickerF" placeholder="Seleccione la fecha de terminación"
              (click)="pickerF.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
            <mat-datepicker #pickerF></mat-datepicker>
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.fechaFin)" [errorMsg]="getFieldError(itemRowEstudio.controls.fechaFin)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /FECHA FIN -->

      </div>

      <div *ngIf="isRequired(itemRowEstudio.controls.tarjetaProfesional)" class="row">

        <!-- # TARJETA PROFESIONAL -->
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="has-label">
            <mat-label>{{ isRequired(itemRowEstudio.controls.tarjetaProfesional) ? '* ' : '' }} No. Tarjeta Profesional</mat-label>
            <input type="text" matInput formControlName="tarjetaProfesional" placeholder="No. Tarjeta Profesional">
            <app-field-error-display [displayError]="isFieldInvalid(itemRowEstudio.controls.tarjetaProfesional)"
              [errorMsg]="getFieldError(itemRowEstudio.controls.tarjetaProfesional)"></app-field-error-display>
          </mat-form-field>
        </div>
        <!-- /# TARJETA PROFESIONAL -->

      </div>

      <br>

      <!-- BUTTONS -->
      <div class="row">
        <div class="col-12 text-right buttons-row">
          <button mat-raised-button color="warn" (click)="deleteEstudio(i)">Eliminar</button>
          <button mat-raised-button color="primary" (click)="addOrUpdateEstudio(i)" [disabled]="itemRowEstudio.invalid">Guardar</button>
        </div>
      </div>
      <!-- /BUTTONS -->

    </mat-expansion-panel>

  </mat-accordion>

</form>
