<h2 class="text-primary text-center title-degrade title-bold">Nuestros planes</h2>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary text-center title-degrade title-bold">Cita individual</h5>
      <br>
      <h2 class="card-title text-primary text-center title-degrade title-bold">$ 90.000</h2>
      <br>
      <p class="card-text">Una única cita</p>
      <br>
      <div class="text-center">
        <button class="btn btn-rose btn-link btn-lg btn-principal mat-flat-button" style="padding-top: 5px">
          <span class="mat-button-wrapper">Comprar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <span class="badge badge-pill badge-danger promo">Descuento 20%</span>
    <div class="card-body">
      <h5 class="card-title text-primary text-center title-degrade title-bold">Paquete 4 citas</h5>
      <br>
      <h2 class="card-title text-primary text-center title-degrade title-bold">$ 288.000</h2>
      <br>
      <p class="card-text">Atención para un mes, una cita semanal</p>
      <br>
      <div class="text-center">
        <button class="btn btn-rose btn-link btn-lg btn-principal mat-flat-button" style="padding-top: 5px">
          <span class="mat-button-wrapper">Comprar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <span class="badge badge-pill badge-danger promo">Descuento 25%</span>
    <div class="card-body">
      <h4 class="card-title text-primary text-center title-degrade title-bold">Paquete 8 citas</h4>
      <br>
      <h2 class="card-title text-primary text-center title-degrade title-bold">$ 540.000</h2>
      <br>
      <p class="card-text">Atención para dos meses, una cita semanal</p>
      <br>
      <div class="text-center">
        <button class="btn btn-rose btn-link btn-lg btn-principal mat-flat-button" style="padding-top: 5px">
          <span class="mat-button-wrapper">Comprar</span>
        </button>
      </div>
    </div>
  </div>
</div>