<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center font-weight-bold text-primary">Restablecer Contraseña</h3>
    <br>
    <form [formGroup]="form" class="form-datos-persona">
      <div class="row justify-content-center">
        <div class="col-md-12 mr-auto">
          <h4 class="font-weight-bold text-black text-center">Para nosotros es muy importante tu seguridad.
            <br>Proporciona los datos que te enviamos a tu correo y enseguida podrás iniciar sesión en nuestra plataforma.</h4>
          <br>
          <div class="row justify-content-center">
            <!-- PASSWORD TEMPORAL -->
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="example-full-width has-label">
                  <mat-label>* Contraseña temporal</mat-label>
                <input matInput id="passwordTemporal" formControlName="passwordTemporal">
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.passwordTemporal)"
                  [errorMsg]="getFieldError(form.controls.passwordTemporal)"></app-field-error-display>
              </mat-form-field>
            </div>
            <!-- /PASSWORD TEMPORAL -->
          </div>
          <div class="row justify-content-center">
            <!-- NUEVA CONTRASENA -->
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="example-full-width has-label">
                <mat-label>* Nueva contraseña</mat-label>
                <input matInput type="password" id="password" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.password)"
                  [errorMsg]="getFieldError(form.controls.password, 'password')"></app-field-error-display>
              </mat-form-field>
            </div>
            <!-- /NUEVA CONTRASENA -->
          </div>
          <div class="row justify-content-center">
            <!-- REPETIR NUEVA CONTRASENA -->
            <div class="col-sm-12 col-md-6">
              <mat-form-field class="example-full-width has-label">
                <mat-label>* Repíta la nueva contraseña</mat-label>
                <input matInput type="password" id="confirmPassword" formControlName="confirmPassword">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.confirmPassword)"
                  [errorMsg]="getFieldError(form.controls.confirmPassword, 'password')"></app-field-error-display>
              </mat-form-field>
            </div>
            <!-- /REPETIR NUEVA CONTRASENA -->
          </div>
        </div>
        <div class="row justify-content-center">
          <br>
          <div class="col-12 text-right">
            <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid"
              (click)="iniciarRestablecer()">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
