<br>

<div class="section section-quienes-somos">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title text-primary title-degrade title-bold">¿Quiénes somos?</h2>
      <h5 class="description">
        Words of Hope es una plataforma que te conecta con profesionales en mentoría y 
        consejería con el propósito de que alcancemos juntos tu bienestar emocional y tu máximo potencial. 
        Estamos para acompañarte a través de preguntas y videollamadas.</h5>
    </div>
  </div>
</div>

<ng-container *ngIf="showSectionProfesionales">
  <div class="section section-nuestro-equipo">
    <app-profesionales (eventIsOk)="getEventShowProfesionalesIsOk($event)"></app-profesionales>
  </div>
  <br>
</ng-container>

<div class="section section-planes">  
  <app-planes></app-planes>
  <br>
</div>

<ng-container *ngIf="showSectionCategorias">
  <div class="section section-categorias">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-11">
        <h2 class="text-primary text-center title-degrade title-bold" style="margin-bottom: 0;">¿Por dónde empiezo mi pregunta?</h2>
        <p class="text-muted text-center">Estas son algunas categorías. ¿Te identificas con alguno de estos temas?</p>
        <app-pregunta-resultados [type]="'TYPE-3'" (eventIsOk)="getEventShowCategoriasIsOk($event)"></app-pregunta-resultados>
      </div>
    </div>
  </div>
</ng-container>

<app-pregunta-buscador [isHome]="true"></app-pregunta-buscador>

<div class="section section-top">
  <div class="row">
    <div class="col-12">
      <app-preguntas-ranking></app-preguntas-ranking>
    </div>
  </div>
</div>

<br>
<app-patrocinadores></app-patrocinadores>
