.probootstrap-hero {
    background-color: #ccc;
    background-size: cover;
    background-position: left top;
    padding: 9em 0 15em;
    position: relative;
    overflow: hidden;
}

.bannerimage {
    width: 100%;
    /* background-image: url(/assets/img/img1-1.jpg); */
    height: 405px;
    background-color: purple;
    background-position: center;
  }

  .separator {
    height: 2px;
    width: 44px;
    background-color: #489CA2;
    margin: 20px auto;
    padding: 0px !important;
}

.separator.separator-primary {
    background-color: #489CA2;
}

.section {
     padding-top: 30px !important; 
     padding-bottom: 30px !important; 
}

.tmn-small{
    width: 50% !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 30px !important;
}