<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">

    <form class="form" [formGroup]="form">
      <div class="modal-content card card-login card-hidden">

        <div class="card-header card-header-rose text-center">
          <h4 class="card-title" style="padding: 10px;">Iniciar Sesión</h4>
        </div>

        <div class="card-body">

          <!-- USERNAME -->
          <div class="row">
            <div class="col-md-12">

              <mat-form-field appearance="legacy" class="example-full-width has-label">
                <mat-label>* Email</mat-label>
                <input matInput type="email" class="username" placeholder="Ingrese su correo electrónico"
                  formControlName="username" (keyup.enter)="login()">
                <mat-icon matSuffix>email</mat-icon>
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.username)" [errorMsg]="getFieldError(form.controls.username, 'email')"></app-field-error-display>
              </mat-form-field>

            </div>
          </div>
          <!-- /USERNAME -->

          <!-- PASSWORD -->
          <div class="row">
            <div class="col-md-12">

              <mat-form-field appearance="legacy" class="example-full-width has-label">
                <mat-label>* Password</mat-label>
                <input matInput type="password" class="password" placeholder="Ingrese su contraseña" formControlName="password" (keyup.enter)="login()">
                <mat-icon matSuffix>lock_outline</mat-icon>
                <app-field-error-display [displayError]="isFieldInvalid(form.controls.password)" [errorMsg]="getFieldError(form.controls.password, 'password')"></app-field-error-display>
              </mat-form-field>

            </div>
          </div>
          <!-- /PASSWORD -->

          <div class="row">
            <div class="col-12 text-center">
              <a [routerLink]="['/registro/paciente']" (click)="closeModal()" class="btn btn-primary btn-link pd-0">¿Aún no estás registrado?</a>
            </div>
          </div>
          <div class="row">
              <div class="col-12 text-center">
                <a [routerLink]="['/usuario/olvidoContrasena']" data-dismiss="modal" class="btn btn-primary btn-link pd-0">Olvidé mi contraseña</a>
              </div>
            </div>

          <button data-dismiss="modal" #btnCloseModal [hidden]="true"></button>
        </div>

        <div class="card-footer text-center">
          <button mat-flat-button data-dismiss="modal" class="btn btn-tertiary btn-link btn-lg btn-cerrar" style="padding-top: 5px">CERRAR</button>
          <button mat-flat-button class="btn btn-rose btn-link btn-lg btn-ingresar" style="padding-top: 5px" (click)="login()"
            [disabled]="!form.valid">INGRESAR</button>
        </div>
      </div>
    </form>

  </div>
</div>
