<div class="row bg-list-categories" fullscreen>
  <!-- PREGUNTAS MAS VISTAS -->
  <div class="col-md-6 col-sm-12 mr-auto ml-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="category text-center title-degrade title-bold">Preguntas Más Vistas</h3>
        <div *ngFor="let pregunta of preguntasMasVistas; let i=index;">
          <br>
          <a [routerLink]="['/preguntas/detail', pregunta._id]" class="text-dark pregunta">
            <p class="text-justify title-bold"><strong>{{i+1}}.</strong>
              {{cortarTexto(pregunta.pregunta, lengthTextoPregunta)}}
            </p>
          </a>
          <ng-container *ngIf="pregunta.respuestas && pregunta.respuestas.length > 0">
            <div class="row">
              <!-- FOTO -->
              <div class="col-md-2 col-sm-12" style="align-self: center">
                <div class="user">
                  <div class="photo">
                    <img
                      src="{{routeFiles}}{{pregunta.respuestas[0].usuarioId}}.jpg?+{{currentDate.getMinutes() + currentDate.getSeconds()}}">
                  </div>
                </div>
              </div>
              <!-- FOTO -->
              <!-- TEXTO -->
              <div class="col-md-10 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <p class="text-muted title-bold">Respondió:
                      <a [routerLink]="['/profesionales/perfil', pregunta.respuestas[0].usuarioId]">
                        <span class="text-capitalize title-degrade title-bold">
                         {{pregunta.respuestas[0].persona.nombres | titlecase}}
                        </span>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card-text mb-0">{{cortarTexto(pregunta.respuestas[0].respuesta, lengthTextoRespuesta)}} <a
                        [routerLink]="['/preguntas/detail', pregunta._id]" class="title-degrade title-bold">(ver más)</a></p>
                    <small class="text-muted title-degrade title-bold">{{pregunta.visitas}} visitas</small>
                  </div>
                </div>


              </div>
              <!-- TEXTO -->
            </div>
          </ng-container>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- /PREGUNTAS MAS VISTAS -->

  <!-- ULTIMAS RESPUESTAS -->
  <div class="col-md-6 col-sm-12 mr-auto ml-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="category text-center title-degrade title-bold">Últimas Respuestas</h3>

        <div *ngFor="let pregunta of preguntasUltimasRespuestas; let i=index;">
          <br>
          <a [routerLink]="['/preguntas/detail', pregunta._id]" class="text-dark pregunta">
            <p class="text-justify title-bold"><strong>{{i+1}}.</strong>
              {{cortarTexto(pregunta.pregunta, lengthTextoPregunta)}}
            </p>
          </a>

          <ng-container *ngIf="pregunta.respuestas && pregunta.respuestas.length > 0">


            <!-- FOTO -->
            <div class="row">
              <div class="col-md-2 col-sm-12" style="align-self: center">
                <div class="user">
                  <div class="photo">
                    <img
                      src="{{routeFiles}}{{pregunta.respuestas[0].usuarioId}}.jpg?+{{currentDate.getMinutes() + currentDate.getSeconds()}}">
                  </div>
                </div>
              </div>
              <!-- FOTO -->
              <!-- TEXTO RESPUESTA -->
              <div class="col-md-10 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <p class="text-muted title-bold">Respondió:
                      <a [routerLink]="['/profesionales/perfil', pregunta.respuestas[0].usuarioId]">
                        <span class="text-capitalize title-degrade title-bold">
                          {{pregunta.respuestas[0].persona.nombres | titlecase}}
                        </span>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card-text mb-0">{{cortarTexto(pregunta.respuestas[0].respuesta, lengthTextoRespuesta)}}
                      <a [routerLink]="['/preguntas/detail', pregunta._id]" class="title-degrade title-bold">(ver más)</a>
                    </p>
                    <small class="text-muted title-degrade title-bold">Hace
                      {{calcularTiempo(pregunta.fechaUltimaRespuesta, fechaActual)}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <!-- TEXTO RESPUESTA -->
          </ng-container>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- /ULTIMAS RESPUESTAS -->

</div>
