@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$mat-alternate: (50: #fff,
100: #489CA2,
200: #e91e63,
contrast: (50: #489CA2,
100: $light-primary-text,
200: $light-primary-text,
));

// Creates a container object for a light theme to be given to individual component theme mixins.
@function mat-alternate-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
    );
}

.alternate-theme {
  $app-accent: mat-palette($mat-alternate, 50);
  $app-primary: mat-palette($mat-alternate, 100);
  $app-warn: mat-palette($mat-alternate, 200);

  // Create the theme object (a Sass map containing all of the palettes).
  $app-theme: mat-alternate-theme($app-primary, $app-accent, $app-warn);

  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($app-theme);
}
