/* NAV */
.alternate-theme .mat-toolbar.mat-accent {
  background-color: transparent !important;
  color: white !important;
}

.container-logo {
  background: white;
  height: 120px;
  position: absolute;
  top: 0;
  border-radius: 0 0 50px 50px;
  margin-left: 20px;
  padding: 50px 10px;
}

/* SLIDE */
.carousel-caption {
  left: 2% !important;
  text-align: left !important;
  right: 10% !important;
}

/* BODY */
h1, h2, h3, h4, h5, h6, p, .btn-principal, .btn-secondary {
  font-family: 'Poppins', sans-serif !important;
}

.body-background-home {
  background-color: #fff;
}

.body-background-other {
  background-color: #fff;
  /* background-color: #f1f1f1; */
}

/*Quitar fondo amarillo autocompletar input en Chrome*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-color: #fff;
}

/* ACCORDION */
mat-expansion-panel.accordion-no-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

mat-expansion-panel.accordion-no-border mat-expansion-panel-header {
  padding-left: 5px;
}

mat-panel-title.border-botton {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-bottom: 1px solid #489ca2; */
  text-decoration: underline;
}

/* IMAGEN HOME */
.probootstrap-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: left top;
  padding: 9em 0 15em;
  position: relative;
  overflow: hidden;
}

.bannerimage {
  width: 100%;
  height: 405px;
  background-color: purple;
  background-position: center;
}

/* BUTTONS */
.btn-cta {
  border-radius: 20px !important;
}

.btn-principal {
  color: white !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  background: linear-gradient(to right, #00afb9 0%, #0081a7 100%);
}

.btn-secondary {
  color: white !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  background: linear-gradient(to right, #00afb9 0%, #0081a7 100%);
  width: 100%;
}

/* TEXT */
.principal-degrade {
  text-transform: uppercase;
	background: linear-gradient(to right, #00afb9 0%, #0081a7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-menu {
  font-size: 14px !important;
  font-weight: bold !important;
}

.sentence-slide {
  color: white;
  line-height: 1.1;
}

.text-complementary {
  color: #Faff00;
  font-weight: bold;
}

.title-card {
  text-align: center;
  font-weight: bold;
}

.text-align-center {
  align-self: center;
}

.title-degrade {
	background: linear-gradient(to right, #0081a7 0%, #00afb9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-align-right {
  text-align: right;
}


/* PREGUNTAS */
.question-card:hover {
  /* background-color: #efefef; */
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.14);
}

.mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

/* .navbar-header.navbar .navbar-collapse .navbar-nav .nav-item .nav-link { */
.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #489CA2 !important;
  font-weight: bold;
}

@media (max-width: 991px) {
  .off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 599px) {
  .carousel-caption {
    left: 10% !important;
    top: 12% !important;
  }
  .sentence-slide {
    display: none;
  }
  .container-logo {
    padding: 5px 10px;
    height: 75px;
  }
  .cat-rsp {
    margin-bottom: 10px !important;
  }
  .footer {
    text-align: center !important;
  }
}

.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: inherit !important;
}

.section-heading {
  margin-top: 60px;
}

.nav-pills-navigation .nav-pills {
  padding: 0;
}

.nav-pills-navigation .nav-pills {
  background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills-navigation .nav-pills .nav-item .nav-link:not(.active):hover {
  background-color: inherit !important;
  box-shadow: none !important;
}

.nav-pills-navigation .nav-pills .nav-item .nav-link {
  border-radius: 4px;
  padding: 6px;
}

.nav-pills-navigation .nav-pills .nav-item:first-child .nav-link.active {
  margin-left: -30px;
  margin-right: -10px;
}

.nav-pills-navigation .nav-pills .nav-item:last-child .nav-link.active {
  margin-right: -30px;
  margin-left: -10px;
}

.nav-pills-navigation .nav-pills .nav-item .nav-link.active {
  background-color: #e91e63;
  color: #fff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  padding: 12px;
  margin-bottom: -12px;
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
}

/* Arregla los chips multilinea */
.mat-standard-chip {
  height: auto !important;
}

.hr-padding {
  /* margin-top: 4rem;
  margin-bottom: 4rem; */
  width: 50%;
}

/* FOTO USUARIO */
.user {
  padding-bottom: 20px;
  /* margin: 20px auto 0; */
  position: relative;
}

.user .photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  z-index: 5;
  margin-right: 11px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user .photo-header-menu {
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  z-index: 5;
  margin-left: 10%;
  margin-right: 11px;
  border-radius: 50%;
}

.user .photo img,
.user .photo-header-menu img {
  width: 100%;
  height: 100%;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/* COLOR TEXT */

.text-secondary {
  color: #e91e63;
}

/* BREADCRUMB */

.breadcrumb-item a:hover {
  text-decoration: underline;
}

/* OTROS */

.buttons-row button:not(:last-child),
.buttons-row a:not(:last-child) {
  margin-right: 8px !important;
}

.margin-in-line {
  margin: 0 10px;
}

.mp0 {
  margin: 0 !important;
  padding: 0 !important;
}

.rounded-squartle {
  border-radius: 10%;
}

.title-bold {
  font-weight: bold;
  line-height: 1.3;
}

.card-list-categories-left {
  text-align: left;
}

.card-list-categories-right {
  text-align: right;
}

.bg-list-categories {
  background: linear-gradient(to right, #00afb9 0%, #0081a7 100%);
  padding: 20px 20px;
}

.cat-rsp {
  margin-bottom: 0;
}

.menu-not-home {
  background: linear-gradient(to right, #00afb9 0%, #0081a7 100%);
}