<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center font-weight-bold text-primary">Contacto</h3>
    <br>
    <form *ngIf="form" [formGroup]="form">
      <div class="row justify-content-center">
        <div class="col-md-12 mr-auto">
          <form [formGroup]="form" class="form-datos-persona">
            <h4 class="font-weight-bold text-primary text-center">Para nosotros es muy importante tu opinión.
              <br>Estaremos respondiendote en la mayor brevedad posible. <br>Gracias.</h4>
            <br>
            <div class="row justify-content-center">
              <!-- NOMBRE COMPLETO -->
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width has-label">
                  <input matInput id="nombreCompleto" formControlName="nombreCompleto" placeholder="* Nombre Completo"
                    value="Henry Infante">
                  <app-field-error-display [displayError]="isFieldInvalid(form.controls.nombreCompleto)"
                    [errorMsg]="getFieldError(form.controls.nombreCompleto)"></app-field-error-display>
                </mat-form-field>
              </div>
              <!-- NOMBRE COMPLETO -->
            </div>
            <div class="row justify-content-center">
              <!-- EMAIL -->
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>* Email</mat-label>
                  <input type="email" matInput id="email" formControlName="email"
                    placeholder="Ingrese su correo electrónico">
                  <mat-icon matSuffix>mail</mat-icon>
                  <app-field-error-display [displayError]="isFieldInvalid(form.controls.email)"
                    [errorMsg]="getFieldError(form.controls.email)"></app-field-error-display>
                </mat-form-field>
              </div>
              <!-- EMAIL -->
            </div>
            <div class="row justify-content-center">
              <!-- ASUNTO -->
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width has-label">
                  <input matInput id="asunto" formControlName="asunto" placeholder="* Asunto"
                    value="prueba form contacto">
                  <app-field-error-display [displayError]="isFieldInvalid(form.controls.asunto)"
                    [errorMsg]="getFieldError(form.controls.asunto)"></app-field-error-display>
                </mat-form-field>
              </div>
              <!-- /ASUNTO -->
            </div>
            <div class="row justify-content-center">
              <!-- DESCRIPCION -->
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width has-label">
                  <textarea matInput id="descripcion" formControlName="descripcion" placeholder="* Descripcion"
                    rows="10" value="estoy probando esta funcionalidad"></textarea>
                  <app-field-error-display [displayError]="isFieldInvalid(form.controls.descripcion)"
                    [errorMsg]="getFieldError(form.controls.descripcion)"></app-field-error-display>
                </mat-form-field>
              </div>
              <!-- DESCRIPCION -->
            </div>
          </form>
        </div>
      </div>
    </form>
    <div class="row justify-content-center">
      <br>
      <div class="col-12 text-right">
        <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid"
          (click)="enviarMensaje()">Enviar</button>
      </div>
    </div>
  </div>
</div>
