<!-- Modal -->
<div class="modal fade bd-example-modal-md" id="modalPreguntar" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">

    <form class="form">
      <div class="modal-content card card-login card-hidden">

        <div class="card-header card-header-primary text-center">
          <h4 class="card-title" style="padding: 10px;">Realiza tu pregunta</h4>
        </div>

        <div class="card-body">

          <!-- PREGUNTA -->
          <div class="row">
            <div class="col-md-12">

              <mat-form-field class="mat-form-field-flex">
                <mat-label>Pregunta</mat-label>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" maxlength="300"
                  placeholder="Escribe tu pregunta acá..." value="" #searchBox
                  (keyup.enter)="preguntar(searchBox.value)" style="overflow: hidden;" #inputPreguntarModal></textarea>
                <mat-hint align="end">{{searchBox.value.length}} / 300</mat-hint>
              </mat-form-field>

            </div>
          </div>
          <!-- /PREGUNTA -->
          <button data-dismiss="modal" #btnCloseModal [hidden]="true"></button>
        </div>

        <div class="card-footer text-center">
          <button mat-flat-button class="btn btn-primary mat-raised-button"
            (click)="preguntar(searchBox.value)" [disabled]="!searchBox.value">PREGUNTAR
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
